nav {
  top: 0;
}
main {
  margin-top: -1px;
}

.no-padding {
  padding: 0;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.margin-top-negative {
  margin-top: -1rem;
}
.margin-half-sides {
  margin: .5rem;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
i.circle {
  display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}
.absolute-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(50,50,50,.35);
}
.no-shadow {
  box-shadow: none;
}
.translucent {
  opacity: .95;
}
.fixed-100-vh {
  position: relative;
  height: calc(100vh - 50px);
  overflow: hidden;
  &--scroll {
    overflow-y: scroll;
  }
}
a.overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.divider-light {
  background: #eee;
}
.border-right {
  border-right: 1px solid #ddd;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.relative {
  position: relative;
}
.btn-primary {
  background: darken($sulu, 20%);
  color: white;
  font-weight: 800;
  letter-spacing: 1.2px;
  &:hover {
    color: white;
    background: darken($sulu, 25%);
  }
}
.btn-secondary {
  background: lighten($grey-chateau, 5%);
  color: white;
  font-weight: 800;
  letter-spacing: 1.2px;
  &:hover {
    color: white;
    background: darken($grey-chateau, 5%);
  }
}
.btn-delete {
  background: $sunset-orange;
  color: white;
  font-weight: 800;
  letter-spacing: 1.2px;
  &:hover {
    color: white;
    background: darken($sunset-orange, 5%);
  }
}
.red-text {
  color: $sunset-orange;
}
.green-text {
  color: darken($sulu, 25%);
}
.bottom-align-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.bottom-align-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.bottom {
  margin-top: auto !important;
}
.capitalise {
  text-transform: capitalize;
}
.preloader-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  .preloader-wrapper {
    z-index: 10;
  }
}
hr.half-break {
  display: inline-block;
  width: 20%;
  margin: 3px 10px;
  opacity: .5;
}
.large {
  font-size: 1.35rem;
}
.small {
  font-size: .9rem;
}
.border {
  border: 1px solid #ddd;
}
nav .dropdown-button {
  text-align: right;
  min-width: 130px;
}
table {
  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all;   /* Chrome/Safari/Opera */
  -khtml-user-select: all;    /* Konqueror */
  -moz-user-select: all;      /* Firefox */
  -ms-user-select: all;       /* IE/Edge */
  user-select: all;
}
.blue-text {
  color: $havelock-blue !important;
}
