nav.overlay {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background: lighten($ziggurat, 20%);
  z-index: 10;
}
.big-map {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}
.medium-map {
  min-height:340px;
}
#ssIFrame_google {
  display: none !important;
}
nav .input-field label {
  left: 1rem;
}
#home-address {
  background: white;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}
.your-address-row {
  min-height:340px;
  position:relative;
}
.update-home-address {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  box-shadow: none;
  z-index: 9;
}
.marker-svg {
  display: none;
}
