{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% include "./partials/hero.html" %}

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Most popular immersion options</h4>
    <p>
      You may book a language school course during the booking process
    </p>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--stay'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>Stay</h2>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--tandem'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>Tandem</h2>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--teacher'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>Teacher's stay</h2>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
    <button class="mdl-button mdl-js-button button--ghost button--grey">
      See all hosts
    </button>
  </div>
</div>

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Most popular languages</h4>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--english'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h3>English</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--spanish'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h3>Spanish</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--french'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h3>French</h3>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
    <button class="mdl-button mdl-js-button button--ghost button--grey">
      See all languages
    </button>
  </div>
</div>

{% endblock %}
