{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% include "./partials/hero.html" %}

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Most popular immersion options</h4>
    <p>
      You may book a language school course during the booking process
    </p>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--stay'>
    <h3>Stay</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--tandem'>
    <h3>Tandem</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--teacher'>
    <h3>Teacher's stay</h3>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
      See all hosts
  </div>
</div>

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Most popular languages</h4>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--english'>
    <h3>English</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--spanish'>
    <h3>Spanish</h3>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--french'>
    <h3>French</h3>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
      See all languages
  </div>
</div>

{% endblock %}
