.Wallop-list {
  position: relative;
  overflow: hidden;
}

img, .wallop, .Wallop-list, .Wallop-item {
  padding-right: 0 !important;
  margin-right: 0 !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  right: 0 !important;
}

.Wallop-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0px;
}

.Wallop-item--current {
  display: block;
  position: relative;
  width: 100%;
}
