.wallop {
  position: relative;
}
.Wallop-buttonPrevious, .Wallop-buttonNext {
  position: absolute;
  top: 50%;
  opacity: .5;
  z-index: 11;
  i {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    @extend .z-depth-1;
  }
  &:hover {
    opacity: 1;
  }
}
.Wallop-buttonPrevious {
  left: 10px;
}
.Wallop-buttonNext {
  right: 10px;
}

.Wallop-list {
  position: relative;
  overflow: hidden;
}

.Wallop-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0px;
}

.Wallop-item--current {
  display: block;
  position: relative;
  img {
    width: 100%;
    min-height: 100%;
    max-height: 500px;
  }
}
