.user-image {
  @extend .z-depth-1;
  position: absolute;
  overflow: hidden;
  float: left;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 0 0 0 20px;
  @media #{$small-and-down} {
    display: none;
  }
  z-index: 1;
  border: 5px solid white;
}
.user-profile-info {
  @extend .z-depth-1;
  padding: 20px 0 0 0;
  @media #{$small-and-down} {
    padding: 0;
  }
  background: $accent-bg;
  h1 {
    color: darken($americano, 5%);
    overflow: hidden;
    display: inline-block;
    font-size: 2.5rem;
    margin: 15px 0 0 0;
  }
  .info {
    margin-left: 270px;
    min-height: 240px;
    @media #{$small-and-down} {
      min-height: 0;
      margin: 0;
    }
    .rating {
      display: inline-block;
      vertical-align: bottom;
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 15px 0 0 10px;
    }
  }
}
ul.user-profile-tabs {
  margin: 0;
  background: inherit;
}
.quick-facts {
  @media #{$small-and-down} {
    display: none;
  }
  @media #{$medium-and-down} {
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    column-width: 100px;
  }
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  p {
    display: inline-block;;
    padding: 20px 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}
