.user-image {
  @extend .z-depth-1;
  position: absolute;
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 0;
  img {
    max-width: 100%;
  }
  @media #{$small-and-down} {
    display: none;
  }
  z-index: 0;
  border: 5px solid white;
  &--editable {
    position: relative;
    width: 160px;
    height: 160px;
    opacity: .85;
    margin: 0 auto;
    form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .dz-preview, .dz-image, .dz-image img {
      width: 100%;
      height: 100%;
    }
    .dz-details, .dz-error-message, .dz-success-mark, .dz-error-mark {
      display: none;
    }
    i {
      font-size: 3rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  .upload-new-photo {
    @extend .text-shadow;
    font-size: 4rem;
    text-align: center;
    color: lighten($havelock-blue, 10%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.user-profile-info {
  @extend .z-depth-1;
  padding: 20px 0;
  margin-bottom: 20px;
  position: relative;
  background: lighten($ziggurat, 14%);
  a.edit-your-profile {
    @media #{$large-and-up} {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    @media #{$medium-and-down} {
      float: right;
      margin-bottom: 20px;
    }
    @media #{$small-and-down} {
      float: none;
      margin: 20px auto;
    }
  }
  h1 {
    color: darken($americano, 5%);
    overflow: hidden;
    display: inline-block;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 15px 0 0 0;
  }
  .info {
    margin-left: 270px;
    min-height: 240px;
    margin-bottom: 10px;
    @media #{$small-and-down} {
      min-height: 0;
      margin: 0;
    }
    &--disabled {
      visibility: hidden;
    }
  }
  .rating {
    display: inline-block;
    vertical-align: bottom;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 15px 0 0 10px;
  }
  &--disabled {
    visibility: hidden;
  }
}
ul.user-profile-tabs {
  margin: 0;
  background: inherit;
}
.quick-facts {
  @media #{$small-and-down} {
    display: none;
  }
  @media #{$medium-and-down} {
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    column-width: 100px;
  }
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  p {
    display: inline-block;;
    padding: 20px 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}
.save-changes {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 10;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.languages {
  &--disabled {
    visibility: hidden;
  }
}
