.manage-home-block {
  margin: 30px 0 1rem 0;
  min-height: calc(100vh - 290px);
}
#home-immersions-form {
  .card {
    overflow: visible;
    i.disable {
      cursor: pointer;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: $sunset-orange;
      opacity: .8;
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
  }
  .card-content {
    overflow: visible;
    min-height: 250px;
  }
  .card-reveal {
    overflow: visible;
    padding-top: .5rem;
    .card-title {
      margin-top: 0;
      cursor: text;
    }
  }
}
.manage-home-section {
  @extend .section;
  padding-bottom: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  .card {
    box-shadow: none;
    margin: 0 0 1rem 0;
  }
}
.rooms-collapsible {
  border-radius: 3px;
  box-shadow: none;
  li {
    position: relative;
  }
  .collapsible-header {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    &--has-subtitle {
      padding: 9px 0 0 0;
      line-height: 1.5rem;
    }
    .subtitle {
      display: block;
      font-size: .9rem;
    }
  }
  .edit {
    height: 4rem;
    width: 130px;
    line-height: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    border-bottom: 1px solid #ddd;
  }
}
.immersions-collapsible {
  border-radius: 3px;
  .collapsible-header {
    text-indent: 130px;
    display: inline-block;
    position: relative;
    width: calc(100% - 130px);
    position: relative;
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
  }
  .switch-absolute {
    background: white;
    height: 4rem;
    width: 130px;
    line-height: 4rem;
    padding: 0 auto;
    float: right;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  box-shadow: none;
}
input#home-address {
  border: none;
}
#immersions #language-chips {
  height: auto;
}
.manage-home-info-text {
  position: relative;
  margin: 2rem 0 -20px 0;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 1.015px;
  height: 62px;
  line-height: 56px;
  background: lighten($havelock-blue, 35%);
  &--unpublished {
    color: white;
    background: lighten($sunset-orange, 10%);
  }
  &--published {
    color: white;
    background: darken($ziggurat, 20%);
    a:not(.btn) {
      color: white;
      text-decoration: underline;
    }
  }
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    padding: 0 1rem;
  }
}
.secondary-content {
  color: inherit;
}
.extra-charges-collection {
  border-right: 0;
  border-bottom: 0;
}
.manage-home-photos {
  .home-photo {
    position: relative;
    opacity: .65;
    &:hover {
      opacity: 1;
    }
    .delete {
      text-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
    }
  }
}
i.next-btn {
  font-size: 2.25rem !important;
  margin-right: 2rem;
  opacity: .8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    opacity: 1;
  }
}
.no-tandem {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd !important;
}
.room {
  span.title {
    display: inline-block;
    max-width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .secondary-content {
    max-width: 80px;
  }

}
.manage-home-buttons-row {
  min-height: 36px;
}
.button-group-wrapper--manage-home {
  position: relative;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  .prev-btn, .next-btn {
    position: absolute;
    top: 25px;
    font-size: 2rem;
    cursor: pointer;
    color: darken($ziggurat, 5%);
    &:hover {
      color: darken($ziggurat, 15%);
    }
  }
  .prev-btn {
    left: 8px;
  }
  .next-btn {
    right: 8px;
  }
}
