.manage-home-block {
  margin-bottom: 1rem;
  @media only screen and (max-width: $large-screen) {
    min-height: calc(100vh - 282px);
  }
  @media only screen and (min-width: $large-screen-up) {
    min-height: calc(100vh - 290px);
  }

}
.manage-home-section {
  @extend .section;
  padding-bottom: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  .card {
    box-shadow: none;
    margin: 0 0 1rem 0;
  }
}
.rooms-collapsible {
  border-radius: 3px;
  box-shadow: none;
  li {
    position: relative;
  }
  .collapsible-header {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
  }
  .edit {
    height: 4rem;
    width: 130px;
    line-height: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ddd;
  }
}
.immersions-collapsible {
  border-radius: 3px;
  .collapsible-header {
    text-indent: 130px;
    display: inline-block;
    position: relative;
    width: calc(100% - 130px);
    position: relative;
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
  }
  .switch-absolute {
    background: white;
    height: 4rem;
    width: 130px;
    line-height: 4rem;
    padding: 0 auto;
    float: right;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  box-shadow: none;
}
input#home-address {
  border: none;
}
#immersions #language-chips {
  height: auto;
}
.manage-home-info-text {
  position: relative;
  @extend .grey-text;
  margin: 2rem 0 -20px 0;
  padding: 1rem 0;
  background: lighten($havelock-blue, 35%);
}
.secondary-content {
  color: inherit;
}
.extra-charges-collection {
  border-right: 0;
  border-bottom: 0;
}
.manage-home-photos {
  .home-photo {
    position: relative;
    opacity: .65;
    &:hover {
      opacity: 1;
    }
    &:hover .delete {
      display: block;
    }
    .delete {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
    }
  }
}
.next-btn {
  font-size: 2.25rem !important;
  margin-right: 2rem;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
.no-tandem {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd !important;
}
.room {
  span.title {
    display: inline-block;
    max-width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .secondary-content {
    max-width: 80px;
  }

}
