<div id="basics" class="col s12 m10 offset-m1 l10 offset-l1">

  <div class='manage-home-block'>

    <div class='row'>
      <h4>Tell us about your home</h4>
    </div>

    <div class='manage-home-section'>

      <div class='row section'>
        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class='col s10 m2 l2 input-field'>
          <select id='home-type' class='material' value={homeType} defaultValue=''>
            <option value="" disabled>{{translations.homes.home_types_placeholder}}</option>
            {% for home_type,_ in constants.homes.homeType %}
              <option value="{{ home_type }}">{{ translations.homes.home_types[home_type] }}</option>
            {% endfor %}
          </select>
          <label>{{ translations.homes.home_types_label }}</label>
        </div>


        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-life-ring fa-2x"></i>
        </div>
        <div class='col s10 m3 l3 input-field'>
          <select id='safety' class='material' multiple value={safety} defaultValue={[]}>
            <<option value="" disabled>{{translations.homes.home_safety_placeholder}}</option>
            {% for home_safety,_ in constants.homes.homeSettings.SAFETY %}
              <option value="{{ home_safety }}">{{ translations.homes.home_safety[home_safety] }}</option>
            {% endfor %}
          </select>
          <label>{{ translations.homes.home_safety_label }}</label>
        </div>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-wifi fa-2x"></i>
        </div>
        <div class='col s10 m4 l4 input-field'>

          <select id='amenities' class='material' multiple value={amenities} defaultValue={[]}>
            <option value="" disabled>Amenities</option>
            <option value="essentials">Essentials</option>
            <option value="TV">TV</option>
            <option value="cable">Cable TV</option>
            <option value="ac">Air conditioning</option>
            <option value="heating">Heating</option>
            <option value="sharedKitchen">Shared kitchen</option>
            <option value="internet">Internet</option>
            <option value="wifi">Wifi</option>
          </select>
          <label>Amenities</label>

        </div>
      </div>

      <div class='divider'></div>

      <div class='row section'>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-cutlery fa-2x"></i>
        </div>
        <div class='col s10 m2 l2 input-field'>
          <select id='meal-plan' class='material' multiple value={mealPlan} defaultValue={['breakfast']}>
            <option value="breakfast" disabled>Breakfast</option>
            <option value="halfBoard">Half board</option>
            <option value="fullBoard">Full board</option>
          </select>
          <label>Menus offered</label>
        </div>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-asterisk fa-2x"></i>
        </div>
        <div class='col s10 m3 l3 input-field'>
          <select id='food-option' class='material' multiple value={foodOption} defaultValue={[]}>
            <option value="" disabled>Choose your offered diets</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="vegan">Vegan</option>
            <option value="halal">Halal</option>
            <option value="kosher">Kosher</option>
            <option value="diabetic">Diabetic</option>
            <option value="glutenFree">Gluten free</option>
            <option value="lactoseIntolerant">Lactose intolerant</option>
            <option value="nutAllergy">Nut allergy</option>
          </select>
          <label>Diets offered</label>
        </div>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-fire fa-2x"></i>
        </div>
        <div class='col s10 m4 l4 input-field'>
          <select id='extras' class='material' multiple value={extras} defaultValue={[]}>
            <option value="" disabled>Choose your extras</option>
            <option value="hotTub">Hot tub</option>
            <option value="washer">Washer</option>
            <option value="pool">Pool</option>
            <option value="dryer">Dryer</option>
            <option value="freeParking">Free parking nearby</option>
            <option value="gym">Gym</option>
            <option value="elevator">Elevator in building</option>
            <option value="fireplace">Indoor fireplace</option>
          </select>
          <label>Extras</label>

        </div>
      </div>

      <div class='divider'></div>

      <div class='row section'>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-users fa-2x"></i>
        </div>
        <div class='col s5 m2 l2 left-align'>
          <label>This is a family home</label>
          <div class="switch">
            <label>
              No
              <input id='family' type="checkbox"/>
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>

        <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
          <i class="fa fa-user fa-2x"></i>
        </div>
        <div class='col s8 m6 l8 input-field'>
          <select id='preferences' class='material' multiple value={preferences} defaultValue={[]}>
            <option value="" disabled>Choose your lifestyle preferences</option>
            <option value="smokingAllowed">Smoking allowed</option>
            <option value="petsAllowed">Pets allowed</option>
            <option value="petsLiveHere">Pets live in the house</option>
            <option value="wheelchairAccessible">Wheelchair accessible</option>
            <option value="familyFriendly">Family friendly</option>
          </select>
          <label>Lifestyle preferences</label>
        </div>

      </div>

    </div>

  </div>

  <div class='row'>
    <div class='col s6 offset-s3'>
      <a id='save-basics' class='btn btn-primary save-btn' onClick={this.handleClick}>Save</a>
    </div>
    <div class='col s3 right-align'>
      <a><i class="fa fa-chevron-right grey-text text-lighten-1 next-btn"></i></a>
    </div>
  </div>

</div>
