<div id="rooms" class="col s12 m10 offset-m1 l10 offset-l1">

  <div class='manage-home-block'>

    <div class='row'>
      <h4>Your available rooms</h4>
    </div>

    <ul id='add-room-form' class="collapsible rooms-collapsible" data-collapsible="accordion">
      <li class='white'>
        <div class="collapsible-header">
          New room
        </div>
        <div class="edit grey-text text-lighten-1">
          <i class="fa fa-plus-circle fa-2x"></i>
        </div>
        <div class="collapsible-body">

          <div class='row section'>
            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-tag fa-2x"></i>
            </div>
            <div class="col s10 m4 l4 input-field">
              <input id="room-name" type="text" class="validate" placeholder='Eg. "Master bedroom"' length='35' />
              <label htmlFor="room-name">Room name</label>
            </div>
            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-bed fa-2x"></i>
            </div>
            <div class='col s12 m6 l6 input-field'>
              <select id='room-bed' class='material'>
                <option value="" selected disabled>Choose a bed type</option>
                {% for bed, name in translations.homes.bed_types %}
                  <option value={{bed}}>{{name}}</option>
                {% endfor %}
              </select>
              <label>Bed type</label>
            </div>
          </div>

          <div class='divider'></div>

          <div class='row section'>
            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-user-plus fa-2x"></i>
            </div>
            <div class='col s10 m4 l4 input-field'>
              <select id='room-vacancies' class='material'>
                <option value="" disabled>How many people?</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <label>Vacancies</label>
            </div>
            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-lock fa-2x"></i>
            </div>
            <div class='col s10 m6 l6 input-field'>
              <select id='room-facilities' class='material' multiple>
                <option value="" selected disabled>What facilities does the room have?</option>
                {% for facility, name in translations.homes.facilities %}
                  <option value={{facility}}>{{name}}</option>
                {% endfor %}
              </select>
              <label>Facilities</label>
            </div>
          </div>

          <div class='divider'></div>

          <div class='row section'>

            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-users fa-2x"></i>
            </div>
            <div class='col s5 m4 l4 left-align'>
              <label>This is a shared room</label>
              <div class="switch">
                <label>
                  No
                  <input id='room-shared' type="checkbox" />
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
            </div>

            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-camera-retro fa-2x"></i>
            </div>
            <div class='col s10 m6 l6 left-align'>
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>
                      <small>Choose picture</small>
                    </span>
                    <input type="file" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class='divider'></div>

          <div class='row section'>
            <div class='col s2 m1 l1 input-field center-align grey-text text-lighten-1'>
              <i class="fa fa-file-text-o fa-2x"></i>
            </div>
            <div class="col s10 m11 l11 input-field">
              <textarea id="room-description" class="materialize-textarea" length='127' placeholder='Tell guests about the room'></textarea>
              <label htmlFor="room-description">Description</label>
            </div>
          </div>

          <div class='divider'></div>

          <div class='row section'>
            <div class='col s12'>
              <a id='add-room' class='btn btn-secondary'>Add room</a>
            </div>
          </div>

        </div>
      </li>
    </ul>

    <div class='row'>

    </div>

    <div id='existing-rooms'></div>



  </div>

  <div class='row'>
    <div class='col s6 offset-s3'>
      <a id='save-rooms' class='btn btn-primary save-btn' onClick={this.handleClick}>Save</a>
    </div>
    <div class='col s3 right-align'>
      <a class='next-btn'><i class="fa fa-chevron-right grey-text text-lighten-1 next-btn"></i></a>
    </div>
  </div>

</div>
