<div class="mdl-grid mdl-cell mdl-cell--12-col hero hero--top hero--home">
  <div class="mdl-cell mdl-cell--middle mdl-cell--12-col mdl-color-text--white mdl-typography--text-center text-shadow top">

    <h1>Go abroad</h1>

    <h5>Learn a language and discover a new culture as a local</h5>

    <div id='how-does-it-work'></div>

    {% include "../../partials/modals/how-does-it-work/how-does-it-work.html" %}

    <div class='mdl-cell mdl-cell--12-col input-strip'>
      <div class='wrap'>
        <div class='section'>
          <div id='language-wrap' class="mdl-textfield mdl-js-textfield mdl-cell--hide-phone">
            <input id='language' class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="language">
              What language
              <span class='mdl-cell--hide-phone'> do you want to learn</span>?
            </label>
          </div>
        </div>
        <div class='section'>
          <div id='locationField' class="mdl-textfield mdl-js-textfield mdl-cell--hide-phone">
            <input class="mdl-textfield__input" type="text" id="autocomplete" placeholder="">
            <label class="mdl-textfield__label" for="language">
              Where?
            </label>
          </div>
        </div>
        <div class='section'>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          Arrival
        </button>
      </div>
      <div class='section'>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          Check out
        </button>
      </div>
      <div class='section'>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          1 guest
        </button>
      </div>
      <div class='section'>
        <button class="mdl-button mdl-js-button submit">
          Submit
        </button>
      </div>
      </div>
    </div>

  </div>
</div>

<script>
  var placeSearch, autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete'))
    );

    // This is where we can write a custom callback when user selects a location
    // autocomplete.addListener();
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
