<div class='row hero hero--homepage'>
  <div class='col s12 title'>
    <h1>{{translations.common.main_hero_h1}}</h1>
    <h5>{{translations.common.main_hero_subtitle}}</h5>
  </div>
  <div class='col s12'>
    <a class='btn modal-trigger' data-target='how-does-it-work-modal'>{{translations.common.how_does_it_work}}</a>
  </div>
  <div class='col s12 input-strip'>
    <form class='col s12 m10 offset-m1 l10 offset-l1'>
      <div class='row'>
        <div class="col language">
          <select id="language" type="text" class="validate border-radius-left">
            <option></option>
            {% for langCode, language in translations.languages %}
              <option data-lang={{ langCode }}>{{ language }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col location">
          <input placeholder="{{translations.common.where}}" id="location" type="text" class="validate">
          {% include "../../global/components/google-maps-autocomplete.html" %}
        </div>
        <div class='col arrival input-field hide-on-small-only'>
          <input id='arrival' type="text" placeholder='{{translations.common.Arrival}}' class='datepicker'>
        </div>
        <div class='col departure input-field hide-on-small-only'>
          <input id='departure' type="text" placeholder='{{translations.common.Departure}}' class='datepicker'>
        </div>
        <div class="col guests hide-on-med-and-down">
          <select class='material'>
            <option value="1" selected>1 {{translations.common.guest}}</option>
            <option value="2">2 {{translations.common.guest}}</option>
            <option value="3">3 {{translations.common.guest}}</option>
            <option value="4">4 {{translations.common.guest}}</option>
            <option value="5">5 {{translations.common.guest}}</option>
          </select>
        </div>
        <div class='col search left-align'>
          <a class='btn'>{{translations.common.search}}</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="how-does-it-work-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>{{translations.common.how_does_it_work}}</h4>
    <div class='row'>

      <div class='col s12 m4 l4'>
        <h5>{{translations.common.discover}}</h5>
        <div class='divider'></div>
        <i class="fa fa-globe fa-5x section"></i>
        <div class='divider'></div>
        <p>
          {{translations.common.discover_description}}
        </p>
      </div>

      <div class='col s12 m4 l4'>
        <h5>{{translations.common.book_immersion}}</h5>
        <div class='divider'></div>
        <i class="fa fa-language fa-5x section"></i>
        <div class='divider'></div>
        <p>
          {{translations.common.pick_a_programme}} <strong>{{translations.common.stay}}</strong>, <strong>{{translations.common.tandem}}</strong> and <strong>{{translations.common.teachers_stay}}</strong>. {{translations.common.connect_with_host}}
        </p>
      </div>

      <div class='col s12 m4 l4'>
        <h5>{{translations.common.book_language_course}}</h5>
        <div class='divider'></div>
        <i class="fa fa-graduation-cap fa-5x section"></i>
        <div class='divider'></div>
        <p>
          {{translations.common.book_language_course_description}}
        </p>
      </div>

    </div>
  </div>
</div>
