<div class='row hero hero--homepage'>
  <div class='col s12 title'>
    <h1>Go abroad</h1>
    <h5>Learn a language and discover a new culture as a local</h5>
  </div>
  <div class='col s12'>
    <a class='btn modal-trigger' href='#how-does-it-work-modal'>How does it work?</a>
  </div>
  <div class='col s12 input-strip'>
    <form class='col s12 m10 offset-m1 l10 offset-l1'>
      <div class='row'>
        <div class="col s6 m3 l2 border-radius-left">
          <input placeholder="What language?" id="language" type="text" class="validate">
        </div>
        <div class="col s6 m3 l2">
          <input placeholder="Where?" id="location" type="text" class="validate">
        </div>
        <div class='col s6 m2 l2 input-field hide-on-small-only'>
          <input id='arrival' type="date" placeholder='Arrival' class="datepicker">
        </div>
        <div class='col s6 m2 l2 input-field hide-on-small-only'>
          <input id='checkout' type="date" placeholder='Checkout' class="datepicker">
        </div>
        <div class="col s6 m2 l2 hide-on-small-only">
          <select>
            <option value="1" selected>1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
            <option value="4">5 guests</option>
            <option value="5">5 guests</option>
          </select>
        </div>
        <div class='col s12 m12 l2 left-align'>
          <a class='btn'>Search</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="how-does-it-work-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>How does it work?</h4>
    <div class='row'>

      <div class='col s12 m4 l4'>
        <h5>Discover</h5>
        <div class='divider'></div>
        <i class="fa fa-globe fa-5x section"></i>
        <div class='divider'></div>
        <p>
          Choose between hundreds of cities and hosts. Find hosts with common interests to immerse in a new culture and language.
        </p>
      </div>

      <div class='col s12 m4 l4'>
        <h5>Book an immersion programme</h5>
        <div class='divider'></div>
        <i class="fa fa-language fa-5x section"></i>
        <div class='divider'></div>
        <p>
          Pick a program: <strong>stay</strong>, <strong>tandem</strong> and <strong>teacher’s stay</strong>. Connect with our hosts, confirm your dates and book your stay.
        </p>
      </div>

      <div class='col s12 m4 l4'>
        <h5>Book a language course and go</h5>
        <div class='divider'></div>
        <i class="fa fa-graduation-cap fa-5x section"></i>
        <div class='divider'></div>
        <p>
          Choose between hundreds of cities and hosts. Find hosts with common interests to immerse in a new culture and language.
        </p>
      </div>

    </div>
  </div>
</div>

<script>
// Google maps autocomplete
var placeSearch, autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById('location'))
  );
  // This is where we can write a custom callback when user selects a location
  // autocomplete.addListener();
}
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
