$havelock-blue: #4A90E2;
$ziggurat: #AFD4DD;
$grey-chateau: #909AA8;
$americano: #776B68;
$sulu: #B8E986;
$sunset-orange: #FC5050;

$stay: #105B63;
$tandem: #45BF55;
$teacher: #BD4932;

$accent-bg: lighten($grey-chateau, 32.5%);

// Potential:
$mint-green: #CEEFDE
