$havelock-blue: #4A90E2;
$sulu: #B8E986;
$grey: #9E9E9E;

.btn {
  border: 1px solid;
  border-radius: 2px;
  padding: .5rem;
  background: transparent;
  &:hover {
    background: white;
    border-color: white;
    color: black;
  }
}
