.braintree-input {
  position: relative;
  max-height: 3rem;
  iframe {
    max-height: 3rem;
    border-bottom: 1px solid #ddd !important;
  }
}
#add-payment-form, {
  margin-top: 20px;

  .title {
    border: 1px solid #ddd;
    color: $darkBlue;
    border-radius: 3px 3px 0 0;
    font-size: 1.35rem;
    line-height: 55px;
    min-height: 59px;
  }
  .collapsible {
    margin-top: 0;
    border-radius: 0 0 3px 3px;
    border-top: none;
    box-shadow: none;
  }
  .collapsible-header {
    font-size: 1.15rem;
    color: $darkGrey;
    &:hover {
      background: lighten($darkGrey, 10%);
    }
  }
  .btn {
    margin: 20px 0;
  }
  #paypal-container, #card-number {
    margin-top: 20px;
  }
  #braintree-paypal-button {
    display: inline-block !important;
    margin: 0 auto !important;
  }
}
