.hero {
  color: white;
  a.btn {
    margin-top: 5px;
  }
  .title {
    @extend .text-shadow;
    margin: 80px 0 50px 0;
  }
  .input-strip {
    color: $americano;
    margin-top: 100px;
    padding-top: 25px;
    background: rgba(50,50,50,.65);
    .col {
      padding: 0;
    }
    input {
      width: 100%;
      background: white;
      margin: 0;
      padding: 10px;
      &::-webkit-input-placeholder {
        color: $americano;
      }
      &::-moz-placeholder {
        color: $americano;
      }
      &::-ms-input-placeholder {
        color: $americano;
      }
      &:placeholder-shown {
        color: $americano;
      }
    }
    input, select {
      box-sizing: border-box;
      border-right: 1px solid #eee;
    }
    .input-field {
      margin-top: 0;
    }
    span.caret {
      z-index: 1;
      color: $americano;
      position: absolute;
      left: 80%;
      opacity: .5;
    }
  }
  &--homepage {
    background: url(http://img.abroadwith.com/hero_homepage.jpg);
    background-size: cover;
    background-attachment: scroll;
  }
}
