.hero {
  color: white;
  text-shadow: 2px 2px 2px rgba(50,50,50,.5);
  a.btn {
    text-shadow: none;
    margin-top: 5px;
  }
  .title {
    margin: 80px 0 25px 0;
  }
  .input-strip {
    color: $americano;
    text-shadow: none;
    margin-top: 100px;
    padding-top: 25px;
    background: rgba(50,50,50,.65);
    .col {
      padding: 0;
    }
    input {
      width: 100%;
      background: white;
      margin: 0;
      padding: 10px;
      &::-webkit-input-placeholder {
        color: $americano;
      }
      &::-moz-placeholder {
        color: $americano;
      }
      &::-ms-input-placeholder {
        color: $americano;
      }
      &:placeholder-shown {
        color: $americano;
      }
    }
    input, select {
      box-sizing: border-box;
      border-right: 1px solid #eee;
    }
    .input-field {
      margin-top: 0;
    }
    span.caret {
      color: black;
      margin-left: -50px;
    }
  }
  &--homepage {
    background: url(/img/hero_homepage.jpg);
    background-size: cover;
    background-attachment: scroll;
  }
}
