{% extends "layout.html" %} {% block title %} {{ translations.receipts_invoices.invoice_title }} {% endblock %} {% block content %}

<h1 data-id='{{query.invoice_id}}'>{{translations.receipts_invoices.invoice}}</h1>

<div id='invoice-container'></div>

<div class='container'>
  <div class='row left-align'>

    <div class='col s12 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th class='status'>{{translations.receipts_invoices.confirmation_code}}</th>
            <th>{{translations.receipts_invoices.date_rendered}}</th>
            <th>{{translations.receipts_invoices.full_name}}</th>
            <th>{{translations.receipts_invoices.billing_address}}</th>
            <th>{{translations.receipts_invoices.vat_country}}</th>
            <th>{{translations.receipts_invoices.vat_rate}}</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'></td>
            <td id='serviceRenderedAt'></td>
            <td id='fullName'></td>
            <td id='billingAddress'></td>
            <td id='vatCountry'></td>
            <td>
              <span id='vatRate'></span><span>%</span>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

  <div class='row left-align'>
    <h5 class='grey-text'>{{translations.receipts_invoices.service_fee}}</h5>
    <div class='col s12 m12 l5 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th>{{translations.receipts_invoices.charge}}</th>
            <th>{{translations.receipts_invoices.amount}}</th>
          </tr>
        </thead>

        <tbody class='white lighten-4'>
          <tr>
            <td>{{translations.receipts_invoices.base_service_fee}}</td>
            <td id='baseFees'></td>
          </tr>
          <tr>
            <td>{{translations.receipts_invoices.vat}}</td>
            <td id='vatAmount'></td>
          </tr>
          <tr>
            <td>{{translations.receipts_invoices.total_service_fee}}</td>
            <td id='totalServiceFee'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

  <div class='divider'></div>

  <div class='row section'>
    <div class='col s12 right-align grey-text text-darken-1'>
      <strong>{{translations.receipts_invoices.invoice_address_line_1}}</strong>
      <br>
      {{translations.receipts_invoices.invoice_address_line_2}}
      <br>
      {{translations.receipts_invoices.invoice_address_line_3}}
      <br>
      {{translations.receipts_invoices.invoice_address_line_4}}
    </div>
  </div>

</div>

{% endblock %}
