{% extends "layout.html" %} {% block content %}

<h1 data-id='{{query.invoice_id}}'>Invoice</h1>

<div id='invoice-container'></div>

<div class='container'>
  <div class='row left-align'>

    <div class='col s12 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th class='status'>Confirmation code</th>
            <th>Date rendered</th>
            <th>Guest name</th>
            <th>Immersion plan</th>
            <th>VAT country</th>
            <th>VAT rate</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'></td>
            <td id='guestFullName'></td>
            <td id='destinationShort'></td>
            <td id='languages'></td>
            <td id='duration'></td>
            <td id='accommodation-type'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

  <div class='row left-align'>
    <h5 class='grey-text'>Service fee</h5>
    <div class='col s12 m12 l5 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th>Charge</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody class='white lighten-4'>
          <tr>
            <td>Base service fee</td>
            <td id='bookingCharges'></td>
          </tr>
          <tr>
            <td>VAT</td>
            <td id='serviceAndVatFees'></td>
          </tr>
          <tr>
            <td>Total service fee</td>
            <td id='total-charge'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

  <div class='divider'></div>

  <div class='row section'>
    <div class='col s12 right-align grey-text text-darken-1'>
      Abroadwith UG
      <br>
      Some address,
      <br>
      Berlin, Germany
    </div>
  </div>

</div>

{% endblock %}
