.profile-slider {
  min-height: 300px;
  max-height: 400px;
  position: relative;
  background: lighten($ziggurat, 10%);
  .wallop, .Wallop-list, .Wallop-item, img {
    min-height: 300px;
    max-height: 400px;
  }
  img, .Wallop-item {
    height: 100%;
    min-width: 100%;
  }
  .immersion-types {
    position: absolute;
    left: 240px;
    @media #{$small-and-down} {
      left: 5vw;
    }
    bottom: 0;
    .tag {
      text-indent: 10px;
      div:first-child {
        border-top-right-radius: 3px;
        @media #{$small-and-down} {
          border-top-left-radius: 3px;
        }
      }
      .stay, .tandem, .teacher {
        position: relative;
        display: block;
        padding: 0 .25rem;
        min-width: 60px;
      }
      .stay {
        background: $stay;
      }
      .tandem {
        background: $tandem;
      }
      .teacher {
        background: $teacher;
      }
    }
  }
  a.btn-primary {
    position: absolute;
    right: 5vw;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.home-user-image {
  @extend .z-depth-1;
  position: absolute;
  overflow: hidden;
  float: left;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: -160px 0 0 10px;
  @media #{$small-and-down} {
    display: none;
  }
  z-index: 1;
  border: 5px solid white;
  background: white;
  i {
    color: #ddd;
    font-size: 10rem;
    line-height: 240px;
    width: 240px;
  }
}
.home-title {
  @extend .row;
  position: relative;
  float: left;
  background: $accent-bg;
  width: 100vw;
  padding: 0 5vw 25px 250px;
  margin-bottom: 25px;
  @media #{$small-and-down} {
    padding-left: 10px;
  }
  h1 {
    color: darken($americano, 5%);
    max-width: calc(100% - 70px);
    overflow: hidden;
    display: inline-block;
    font-size: 2.5rem;
    margin: 15px 0 0 0;
  }
  float:left;
  text-align: left;
  .type, .location {
    @extend .grey-text;
    @extend .text-darken-1;
  }
}
.home-details {
  width: 100%;
  display: block;
  &__divider {
    @extend .grey-text;
    opacity: .6;
    margin: 0 5px;
  }
  .rating {
    margin-left: 10px;
  }
}
.home-card {
  padding: 20px 20px 30px 20px;
  box-shadow: none;
  border: 1px solid #ddd;
  .room-image-placeholder {
    border: 1px solid #ddd;
    color: #ddd;
    width: 100%;
    height: 100%;
    font-size: 10rem;
  }
  .fa-2x {
    font-size: 1.65rem !important;
  }
  .row {
    margin: 0;
  }
  .title {
    @extend .grey-text;
    @extend .text-darken-1;
    margin-left: 10px;
    font-size: 1.65rem;
  }
  a.btn {
    box-shadow: none;
  }
  &--fixed-height {
    .content {
      height: 250px;
    }
  }
  &--fixed-height-tall {
    .content {
      height: 350px;
    }
  }
  &--fixed-height-short {
    .content {
      height: 200px;
    }
  }
}
img.home-room-image {
  width: 100%;
}
p.home-details {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  span.icon {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 5px;
  }
  &--multi-line {
    height: auto;
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
  }
}
i.certified-language {
  color: white;
  margin-left: 5px;
}
.rating {
  color: lighten($havelock-blue, 15%);
}
.review {
  img.host-picture {
    width: 50px;
  }
  p:first-child {
    margin-top: 0;
  }
  .relationship {
    margin-bottom: 10px;
  }
}

.home-section-divider {
  width: 100vw;
  left: 0;
  height: 1px;
  margin: 0 0 10px 0;
  background: #ddd;
}
