#not-valid, #languages-not-valid {
  margin-top: 2rem;
  color: red;
}
#language-chips, #language-known-chips, #language-learning-chips {
  min-height: 50px;
}
#verifications-modal {
  top: 0 !important;
  bottom: 0 !important;
  .modal-content {
    height: 100%;
  }
  .title {
    height: 120px;
  }
  .full {
    height: 100%;
  }
  .verifications-module {
    height: calc(100% - 190px);
  }
  .verification-section {
    @extend .border;
    background: white;
    height: 100%;
    overflow: scroll;
  }
  .set-phone-number, .make-sms-request {
    display: none;
  }
}
.modal {
  .divider {
    margin: 2rem 0;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
    color: lighten($americano, 10%);
    &:hover {
      color: lighten($americano, 0%);
    }
  }
}
.language-section {
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 0 30px 0;
  .languages-label {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.09);
    display: block;
    text-align: center;
    padding: 5px 20px;
    background: lighten(#CCCCD8, 9%);
    border-bottom: 1px solid lighten($grey-chateau, 17%);
    font-size: 1.5rem;
    letter-spacing: .35px;
    margin: 0 0 30px 0;
  }
}

#choose-languages-modal {
  max-width: 1000px;
  @media #{$medium-and-up} {
    width: 80vw;
    top: 50px !important;
    max-height: calc(100vh - 100px);
  }
}
#email-signup-collapsible {
  border: none;
  .collapsible-header {
    background: transparent;
    border:none;
  }
  .collapsible-body {
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
  }
}
#sign-up-modal, #login-modal {
  h4 {
    margin-bottom: 40px;
  }
  .signup-conflict {
    cursor: pointer;
  }
}
#login-modal {
  max-width: 650px;
}
.modal-failure {
  display: none;
  background: lighten($sunset-orange, 10%);
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: .5px;
}
.email-header {
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 600;
}
a.btn-signup {
  @media #{$small-and-down} {
    width: 100%;
    font-size: .8rem;
  }
  @media #{$medium-and-up} {
    width: 280px;
  }
  &--facebook {
    background: #3B5998;
    color: white;
    &:hover {
      background: lighten(#3B5998, 5%);
    }
  }
  &--google {
    background: white;
  }
}
#how-does-it-work-modal {
  .row {
    &--blue {
      background: lighten($havelock-blue, 10%);
      padding: 15px 0 5px 0;
      color: white;
    }
  }
}
.modal .status-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .status {
    font-size: 1.2rem;
    letter-spacing: .5px;
    padding: 10px;
  }
}
