footer {
  @extend .z-depth-1;
  text-align: left;
  .select-wrapper {
    color: white;
    input.select-dropdown {
      border-color: white;
    }
    span.caret {
      color: white;
    }
  }
}
.footer-copyright {
  height: 70px !important;
  .container {
    height: 70px;
  }
  i {
    background: darken($havelock-blue, 7.5%);
    border-radius: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 5px 20px 0;
    width: 50px;
    font-size: 25px;
    text-align: center;
    &:hover {
      background: $ziggurat;
      color: $americano;
    }
  }
}
// Make footer sticky
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  min-height: calc(100vh - 340px);
}


nav {
  top: 0;
  .select-wrapper {
    height: 50px;
    &:hover {
      span.caret {
        opacity: 1;
      }
    }
    span.caret {
      transition: opacity .2s ease-in-out;
      top: 0;
      height: 45px;
      top: 2.5px;
      right: 10px;
      color: white;
      opacity: .65;
    }
    input.select-dropdown {
      margin: 0 0 0 15px;
      border-bottom: none;
      height: 50px;
      max-width: 80px;
    }
  }
}
