select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  max-width: 200px;
  padding: 5px 0;
  margin-bottom: 10px;
  border: 1px solid $grey;
  font-size: 1.25rem;
  color: inherit;
}
