{% extends "layout.html" %} {% block title %} Edit your profile {% endblock %} {% block content %}
<div id='user-edit-profile'></div>
<div class='user-profile-info'>
  <div class='container row left-align'>

    <a id='view-public-profile' class='btn btn-secondary btn-flat right'>View public profile</a>

    <div class='user-image user-image--editable'>
      <div class='upload-new-photo'>
        <i class="fa fa-upload blue-text"></i>
      </div>
      <input id='user_photo_upload' name="file" type="file" multiple/>
      <img id='user-photo' src=''>
    </div>

    <div class='info info--disabled'>
      <div class='col s12'>
        <h1 id='first-name'>{{user.firstName}}</h1>

        <span class='rating'>
          <span class='count'>
          </span>
          <span class='stars'>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </span>

      </div>

      <div class='col s10 quick-facts'>

        <p class='home-details'>
          <span class='icon'><i class="fa fa-venus-mars grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-clock-o grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-briefcase grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-check-circle grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-quote-right grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-graduation-cap grey-text text-lighten-1"></span></i>
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></span></i>
        </p>

      </div>

    </div>


    <div class='row no-margin-bottom'>
      <div class='col s12'>
        <div class='tabs-container'>
          <ul class="tabs user-profile-tabs">
            <li class="tab col s3"><a href="#about" class='active'>About</a></li>
            <li class="tab col s3 disabled">
              <a href="#reviews">
                <span class='hide-on-small-and-down'>References & </span>reviews</a>
            </li>
            <li class="tab col s3 disabled"><a href="#stay">Stay</a></li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>

<div id='about' class='container'>

  {{debug}}

  <div class='row left-align no-margin-bottom'>
    <div class='col s12 m12 l12'>
      <div class='row'>

        <div class='col s12 m4 l3'>
          <div class='card home-card tooltipped languages--disabled' data-position="top" data-delay="100" data-tooltip="Languages can be changed in account settings">
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-globe fa-2x grey-text text-lighten-1"></i>
                <span class='title'></span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12 m6 l12'>
                <p class='no-margin-bottom'>
                  <strong></strong>
                </p>
              </div>
              <div class='col s12 m6 l12'>
                <p class='no-margin-bottom'>
                  <strong></strong>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m8 l5'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-user fa-2x grey-text text-lighten-1"></i>
                <span class='title'>About me</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>
                <textarea id="about-me" class="materialize-textarea"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m12 l4'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-file-text-o fa-2x grey-text text-lighten-1"></i>
                <span class='title'>Details</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>

                <div class='section'>
                  <div class="input-field">
                    <input id='education' type="text" class="validate" placeholder="Eg. Bachelor's Degree">
                    <label class="active left">Education</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <input id='grew-up' type="text" class="validate" placeholder='Eg. Caracas, Venezuela'>
                    <label class="active left">Grew up</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <input id='fav-book' type="text" class="validate" placeholder='Eg. Ulysses'>
                    <label class="active left">Favourite book</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <input id='fav-film' type="text" class="validate" placeholder='Eg. Metropolis'>
                    <label class="active left">Favourite film</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <input id='amazing-feat' type="text" class="validate" placeholder='Eg. Skydiving'>
                    <label class="active left">Amazing feat</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <input id='can-share' type="text" class="validate" placeholder='Eg. Cooking, hiking'>
                    <label class="active left">Can share</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <select id='interests' class='material' multiple>
                      <option disabled selected>Choose some</option>
                      {% for interest, name in translations.interests %}
                      <option value={{interest}}>{{name}}</option>
                      {% endfor %}
                    </select>
                    <label class='left'>Interests</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <select id='countries-visited' multiple placeholder='Eg. Spain'>
                      {% for code, country in translations.countries %}
                      <option value={{code}}>
                        {{country}}
                      </option>
                      {% endfor %}
                    </select>
                    <label class="active left">Visited</label>
                  </div>
                </div>

                <div class='section'>
                  <div class="input-field">
                    <select id='countries-lived' multiple data-placeholder='Eg. Spain' data-allow-clear='true'>
                      {% for code, country in translations.countries %}
                      <option value={{code}}>
                        {{country}}
                        <span class='close'><i class="fa fa-times"></i></span>
                      </option>
                      {% endfor %}
                    </select>
                    <label class="active left">Lived in</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id='user-edit-save' class='save-changes'>
    <a class='btn btn-primary'>Save changes</a>
  </div>

</div>


{% endblock %}
