{% extends "layout.html" %} {% block title %} {{translations.users.edit_header}} {% endblock %} {% block content %}
<div id='user-edit-profile'></div>

<div class='row margin-top-50'>
  <h1>Edit your profile</h1>
</div>

<div class='row margin-bottom-50'>
  <div class='col s12'>
    <a id='view-public-profile' class='btn btn-secondary btn-flat'>{{translations.users.edit_public_profile_button}}</a>
  </div>
</div>

<div class='divider margin-bottom-50'></div>

<div class='row'>
  <div class='col s12 hide-on-small-and-down m4 l3'>
    <div class='user-image user-image--editable'>
      <div class='upload-new-photo'>
        <i class="fa fa-upload"></i>
      </div>
      <input id='user_photo_upload' name="file" type="file" multiple/>
      <img id='user-photo' src=''>
    </div>
  </div>
  <div class='col s12 m8 l5 left-align'>
    <div class='card home-card'>
      <div class='row'>
        <div class='col s12'>
          <i class="fa fa-user fa-2x grey-text text-lighten-1"></i>
          <span class='title'>{{translations.users.edit_aboutme_title}}</span>
        </div>
      </div>
      <div class='row content'>
        <div class='col s12'>
          <textarea id="about-me" maxlength='255' length='255' class="materialize-textarea"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class='col s12 m12 l4'>
    <div class='card home-card'>
      <div class='row'>
        <div class='col s12'>
          <i class="fa fa-file-text-o fa-2x grey-text text-lighten-1"></i>
          <span class='title'>{{translations.users.edit_details_title}}</span>
        </div>
      </div>
      <div class='row content'>
        <div class='col s12'>

          <div class='section'>
            <div class="input-field">
              <input id='education' type="text" maxlength='100' length='100' class="validate" placeholder="{{translations.users.edit_details_education_placeholder}}">
              <label class="active left">{{translations.users.edit_details_education_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <input id='grew-up' type="text" maxlength='100' length='100' class="validate" placeholder='{{translations.users.edit_details_grewup_placeholder}}'>
              <label class="active left">{{translations.users.edit_details_grewup_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <input id='fav-book' type="text" maxlength='100' length='100' class="validate" placeholder='{{translations.users.edit_details_favouritebook_placeholder}}'>
              <label class="active left">{{translations.users.edit_details_favouritebook_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <input id='fav-film' type="text" maxlength='100' length='100' class="validate" placeholder='{{translations.users.edit_details_favouritefilm_placeholder}}'>
              <label class="active left">{{translations.users.edit_details_favouritefilm_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <input id='amazing-feat' type="text" maxlength='45' length='45' class="validate" placeholder='{{translations.users.edit_details_amazingfeat_placeholder}}'>
              <label class="active left">{{translations.users.edit_details_amazingfeat_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <input id='can-share' type="text" maxlength='45' length='45' class="validate" placeholder='{{translations.users.edit_details_share_placeholder}}'>
              <label class="active left">{{translations.users.edit_details_share_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <select id='interests' multiple>
                <option disabled selected>{{translations.users.edit_details_interests_placeholder}}</option>
                {% for interest, name in translations.interests %}
                  <option value={{interest}}>{{name}}</option>
                {% endfor %}
              </select>
              <label class='left'>{{translations.users.edit_details_interests_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <select id='countries-visited' multiple placeholder='{{translations.users.edit_details_visited_placeholder}}'>
                {% for code, country in translations.countries %}
                <option value={{code}}>
                  {{country}}
                </option>
                {% endfor %}
              </select>
              <label class="active left">{{translations.users.edit_details_visited_label}}</label>
            </div>
          </div>

          <div class='section'>
            <div class="input-field">
              <select id='countries-lived' multiple data-placeholder='{{translations.users.edit_details_lived_placeholder}}' data-allow-clear='true'>
                {% for code, country in translations.countries %}
                <option value={{code}}>
                  {{country}}
                  <span class='close'><i class="fa fa-times"></i></span>
                </option>
                {% endfor %}
              </select>
              <label class="active left">{{translations.users.edit_details_lived_label}}</label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id='user-edit-save' class='save-changes'>
  <a class='btn btn-primary'>{{translations.users.edit_save}}</a>
</div>


{% endblock %}
