<div id="choose-languages-modal" class="modal center-align">
  <div class="modal-content">

    <h3>{{translations.common.language_modal_hello}}</h3>
    <h6 class='grey-text text-darken-1 margin-bottom-50'>{{ translations.common.language_modal_title }}</h6>

    <div class='row language-section'>

      <div class='col s12 grey-text text-darken-1 margin-bottom-20 large'>
        {{ translations.common.languages_learning }}
      </div>

      <div id='language-module-init'></div>

      <div class='language-container language-container--learning'></div>

    </div>

    <div class='row language-section'>

      <div class='col s12 grey-text text-darken-1 margin-bottom-20 large'>
        {{ translations.common.languages_known }}
      </div>

      <div class='language-container language-container--known'></div>

    </div>

    <a id='apply-languages' class='btn-flat btn-primary margin-top-20'>Next</a>

    <div id='languages-not-valid' class='col s10 offset-s1 hide'>
      {{translations.common.languages_choose_at_least_one}}
    </div>

  </div>

</div>
