// Inline search unit
.inline-search-unit {

  // Basic styles
  max-height: 60px;
  display: inline-block;
  border-radius: 5px;

  // Inputs
  input {
    display: inline-block;
    vertical-align: top;
  }

  // Language selection
  .bootstrap-typeahead {
    height: 60px;
    background: white;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    &-input {
      height: 60px;
    }
    // Main language input
    input {
      font-size: 14px;
      height: 60px;
      border: none;
      color: $bodyTextColor;
      box-shadow: none;
    }
  }

  // Location search
  input.location-search {
    width: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    color: $bodyTextColor;
    font-size: 14px;
  }

  // Date range picker
  .daterangepicker-large {
    height: 60px;
    vertical-align: top;
    .DateRangePickerInput {
      height: 60px;
      border: none;
    }
    .DateInput {
      padding: 19px 7.5px 17px 7.5px;
    }
    .DateInput__input {
      height: 60px;
    }
    .DateInput__display-text--focused {
      background: $babyBlue;
      color: white;
    }
    .DateInput__display-text {
      font-size: 14px;
      text-align: center;
      padding: 0;
    }
  }

  // Guest count picker
  .react-selectize {
    background: white;
    display: inline-block;
    vertical-align: top;
    &.root-node {
      width: auto;
    }
    &-control {
      border: none !important;
      border-radius: 0 !important;
    }
    .simple-value {
      font-size: 14px;
      color: $bodyTextColor;
    }
    .resizable-input {
      height: 60px;
      margin: 0 2px !important;
    }
    .react-selectize-reset-button-container {
      display: none !important;
    }
    .react-selectize-toggle-button-container {
      height: 60px !important;
    }
  }

  // Search button
  button.search-btn {
    vertical-align: top;
  }

  // ---------------------------------------------------------------------------
  // MODIFIERS
  // ---------------------------------------------------------------------------
  &.shadow {
    box-shadow: 5px 5px 13px 0 rgba(0,0,0,0.15);
  }

}

// Google search results
// Has to be global
.pac-container {
  padding: 5px 0;
  border-radius: 5px;
  min-width: 240px;
  margin-top: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  .pac-item-query, .pac-matched {
    color: $bodyTextColor;
    font-size: 14px;
    opacity: 1 !important;
  }
  .pac-item {
    color: $bodyTextColor;
    cursor: pointer;
    font-family: "Karla";
    font-size: 14px;
    span {
      opacity: .5;
    }
    border-top: none;
    min-height: 50px;
    line-height: 50px;
    padding: 0 10px;
    .pac-icon {
      display: none;
    }
  }
  &:after {
    display: none;
  }
}
