<div id="verifications-modal" class="modal center-align">
  <a class='modal-close'><i class="fa fa-times"></i></a>
  <div class="modal-content">
    <div class='title row'>
      <div class='col s12 margin-top-20'>
        <h3>{{translations.common.verifications_modal_title}}</h3>
        <h6 class='grey-text'>{{translations.common.verifications_modal_subtitle}}</h6>
      </div>
    </div>

    <div class='verifications-module'></div>

  </div>

  <div class='status-bar'>
    <div class='invalid-phone-number status modal-failure white-text' style='display:none'>{{translations.common.invalid_phone_number}}</div>
    <div class='confirmation-email-sent status blue white-text' style='display:none'>{{translations.common.confirmation_email_sent}}</div>
    <div class='confirmation-sms-sent status blue white-text' style='display:none'>{{translations.common.confirmation_sms_sent}}</div>
  </div>
</div>
