{% extends "layout--no-footer.html" %} {% block content %}

<div class='booking-nav no-padding-top'>

  <ul class='table-of-contents hide-on-small-and-down'>
    <li><a href="#immersion-options">1. {{translations.booking.immersion_options}} <i class="fa fa-check"></i></a></li>
    <li><a href="#language-course">2. {{translations.booking.language_course}}</a></li>
    <li><a href="#payment">3. {{translations.booking.payment}}</a></li>
  </ul>

  <div class='section no-padding'>
    <div class='row'>
      <a class='btn btn-primary'>Request booking</a>
    </div>
  </div>

  <div class='row primary-info hide-on-small-and-down'>
    <div class='left'>
      <div class='col s12'>
        <div class='host-name'><strong>Margarite's home</strong></div>
        <div class='small grey-text text-darken-1'>
          Liberdastraßsdfsdfe,<br>
          Berlin
        </div>
      </div>
    </div>
    <div class='right'>
      <div class='col s12'>
        <img class='circle home-photo hide-on-small-and-down' src='https://static.dezeen.com/uploads/2014/09/A-Place-Called-Home-by-Jasper-Morrison-for-Airbnb_dezeen_1.jpg'>
      </div>
    </div>

  </div>

  <div class='row hide-on-small-and-down'>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>Private room:</div><div class='right-column'>1 guest</div>
    </div>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>{{translations.common.Immersion}}:</div><div class='right-column'>Stay</div>
    </div>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>{{translations.booking.language_s}}:</div><div class='right-column'>Spanish</div>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>{{translations.common.Arrival}}:</div><div class='right-column'>2016-05-18</div>
    </div>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>{{translations.common.Departure}}:</div><div class='right-column'>2016-10-01</div>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>
        {{translations.booking.extras}}:
      </div>
      <div class='right-column'>
        Cleaning (€20)
        <br>
        Laundry (€10)
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 small grey-text text-darken-1'>
      <div class='left-column'>
        {{translations.booking.course}}:
      </div>
      <div class='right-column'>
        Expath (A1, €120)
        <br>
        <a>{{translations.booking.remove}}</a>
      </div>
    </div>
  </div>

  <div class='total-price'>
    <div class='row'>
      <div class='col s12'>
        <div class='divider'></div>
      </div>
    </div>
    <div class='row'>
      <div class='col s12 large'>
        <div class='left'>{{translations.booking.total}}:</div><div class='right'>€1250</div>
      </div>
    </div>
  </div>

</div>

<div id='immersion-options' class='booking-section booking-section--grey scrollspy'>
  <div class='title'>
      1. {{translations.booking.immersion_options}}
  </div>
  <div class='body row'>

    <div class='col s12 m12 l6'>

      <div class='card'>
        <div class='header'>
          {{translations.common.Immersion}}
        </div>
        <div class='row'>

          <div class='col s6 m6 l4 input-field'>
            <select id='booking-immersions' class='material'>
              <option value="stay">{{translations.common.Stay}}</option>
              <option value="tandem">{{translations.common.Tandem}}</option>
              <option value="teacher">{{translations.common.Teachers_stay}}</option>
            </select>
            <label>{{translations.booking.immersion_type}}</label>
          </div>

          <div class='col s6 m6 l4 input-field'>
            <select id='learning' class='material'>
              <option value='SPA'>Spanish</option>
              <option value='POR'>Portuguese</option>
            </select>
            <label>{{translations.common.Learning}}</label>
          </div>

          <div class='col s6 m6 l4 input-field immersion-field tandem-field'>
            <select id='teaching' class='material'>
              <option value='GER'>German</option>
              <option value='ENG'>English</option>
            </select>
            <label>{{translations.booking.teaching}}</label>
          </div>

          <div class='col s6 m6 l4 input-field immersion-field teacher-field'>
            <select id='teacher-hours' class='material'>
              <option value="5">5 hours</option>
              <option value="10">10 hours</option>
              <option value="15">15 hours</option>
            </select>
            <label>{{translations.booking.hours_per_week}}</label>
          </div>

        </div>
      </div>

    </div>

    <div class='col s12 m6 l4'>
      <div class='card'>
        <div class='header'>
          {{translations.booking.meal_plan}}
        </div>

        <div class='row'>
          <div class='col s12 input-field'>
            <select id='meal-plan' class='material'>
              {% for optionCode, optionName in translations.search.meal_choice %}
                <option value={{optionCode}}>{{optionName}} (€20/week)</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

    </div>

    <div class='col s12 m3 l2 hide-on-med-and-down'>

      <div class='card'>
        <div class='header'>
          {{translations.common.Price}}
        </div>
        <div class='row'>

          <div class='col s12 input-field center-align'>
            <span class='large'>€1250</span>
          </div>

        </div>
      </div>

    </div>

    <div class='col s12 m6 l5'>
      <div class='card'>
        <div class='header'>
          {{translations.booking.extras}}
        </div>

        <div class='row'>

          <div class='col s12 m12 l6 input-field'>

            <select id="EXTRA_GUEST" class='material'>
              <option value="">None</option>
              <option value="1">+1 (€10)</option>
              <option value="2">+2 (€20)</option>
              <option value="3">+3 (€30)</option>
            </select>
            <label for="EXTRA_GUEST" class='dark'>{{translations.booking.extra_guests}}</label>
          </div>

          <div class='col s12 input-field'>
            <input type="checkbox" class="filled-in" id="CLEANING" />
            <label for="CLEANING" class='dark'>Cleaning (€20/week)</label>
          </div>

          <div class='col s12 input-field'>
            <input type="checkbox" class="filled-in" id="LAUNDRY" />
            <label for="LAUNDRY" class='dark'>Laundry (€15/week)</label>
          </div>

          <div class='col s12 input-field'>
            <input type="checkbox" class="filled-in" id="AIRPORT_PICKUP" />
            <label for="AIRPORT_PICKUP" class='dark'>Airport pickup (€10)</label>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<div id='language-course' class='booking-section booking-section--blue scrollspy'>
  <div class='title'>
      2. {{translations.booking.language_course}}
  </div>
  <div class='secondary-nav'>
    {{translations.booking.level}}:
    <select id='language-school' class='material'>
      <option value="a1">A1</option>
      <option value="a2">A2</option>
      <option value="b1">B1</option>
      <option value="b2">B2</option>
      <option value="c1">C1</option>
      <option value="c2">C2</option>
    </select>
  </div>
  <div class='body row'>

    {% include "./sections/language-course-card.html" %}
    {% include "./sections/language-course-card.html" %}
    {% include "./sections/language-course-card.html" %}

    <div class='col s12'>
      <div class='row section center-align no-margin-bottom no-padding-bottom'>
        <a class="btn-floating"><i class="material-icons">add</i></a>
      </div>
    </div>

  </div>
</div>

<div id='payment' class='booking-section booking-section--zig scrollspy'>
  <div class='title'>
      3. {{translations.booking.payment}}
  </div>
  <div class='body row'>

    <div class='col s12 m6 l6'>
      <div class='card'>
        <div class='header'>
          {{translations.booking.payment_methods}}
        </div>

        <div class='row'>

          <div class='col s12'>
            <p>
              {{translations.booking.charged_notification}}
            </p>
          </div>

          <div class='col s12 border'>
              <p>
                <input name="group1" type="radio" id="test1" checked />
                <label for="test1" class='dark'>VISA ending in 4002</label>
              </p>
              <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2" class='dark'>PayPal: jose@abroadwith.com</label>
              </p>
          </div>

        </div>
      </div>
    </div>

    <div class='col s12 m6 l6'>
      <div class='card'>
        <div class='header'>
          {{translations.booking.introduction}}
        </div>

        <div class='row'>

          <div class='col s12'>
            <p>
              {{translations.booking.message_explanation}}
            </p>
          </div>

          <div class='col s12 border'>
            <textarea id="textarea1" class="materialize-textarea" length="2000" placeholder="{{translations.booking.message_placeholder}}"></textarea>
          </div>

        </div>
      </div>
    </div>

    <div class='col s12 m10 offset-m1 l10 offset-l1 small grey-text'>
      <div class='row section'>
        {{translations.booking.agree_to_terms}}
      </div>
    </div>

  </div>
</div>

{% endblock %}
