<div class='row'>

  <form id='signup'>

    <div class='input-field col s10 offset-s1'>
      <input id="first-name" type="text" class="validate no-margin" name='firstName'>
      <label for="first-name">First name</label>
    </div>

    <div class='input-field col s10 offset-s1'>
      <input id="last-name" type="text" class="validate no-margin" name='lastName'>
      <label for="last-name">Last name</label>
    </div>

    <div class='input-field col s10 offset-s1'>
      <input id="email" type="email" class="validate no-margin" name='email'>
      <label for="email">Email</label>
    </div>

    <div class="input-field col s10 offset-s1">
      <input id="password" type="password" class="validate no-margin" name='password'>
      <label for="password">Password</label>
    </div>

    <div class='row'>

    </div>

    <div class='row'>

      <div class='col s10 offset-s1 left-align grey-text'>
        <h6>Language(s) you are learning:</h6>
      </div>

      <div id='language-chips' class='col s10 offset-s1 left-align section'>
        <div>

        </div>
      </div>
      <!-- languages to learn -->
      <div class='col s4 offset-s1'>
        <select id="language-learning" type="text" class="validate no-margin">
          <option></option>
          {% for langCode, language in translations.languages %}
            <option data-lang={{ langCode }}>{{ language }}</option>
          {% endfor %}
        </select>
      </div>
      <div class='col s4'>
        <select id="language-level" type="text" class="validate no-margin">
          <option></option>
          <option data-level='INTERMEDIATE'>Intermediate</option>
          <option data-level='ADVANCED'>Advanced</option>
        </select>
      </div>

      <div class='col s3'>
        <a id='add-language' class='btn-floating'>+</a>
      </div>
    </div>

    <div class='row'>

      <div class='col s10 offset-s1 left-align grey-text'>
        <h6>Language(s) you know:</h6>
      </div>

      <div id='language-known-chips' class='col s10 offset-s1 left-align section'>
        <div>

        </div>
      </div>
      <!-- languages known -->

      <div class='col s4 offset-s1'>
        <select id="language-known" type="text" class="validate no-margin">
          <option></option>
          <option data-lang='eng'>English</option>
          <option data-lang='spa'>Spanish</option>
        </select>
      </div>

      <div class='col s3 offset-s4'>
        <a id='add-language-known' class='btn-floating'>+</a>
      </div>
    </div>

    <div class="input-field col s10 offset-s1">
      <input id='birthday' type="date" class="datepicker-birthday no-margin" name='birthDate'>
      <label for="birthday">Birthday</label>
    </div>

    <div class='col s10 offset-s1'>
      <p>
        By signing up, I agree to Abroadwith’s Terms and coditions, Privacy Policy, Refund Policy and Host terms.
      </p>
    </div>

    <a id='create-user' class='btn'>Submit</a>

    <div id='not-valid' class='col s10 offset-s1 hide section'>
      <strong>Please fill in all fields to sign up</strong>
    </div>

  </form>

</div>

<div class='row'>

  <div class='col s10 offset-s1 grey-text'>
    Already have an account? <a href='#' onclick="$('#sign-up-modal').closeModal();$('#log-in-modal').openModal()">Log in here</a>
  </div>

</div>
