<div class='row'>

  <form id='signup'>

    <div class='input-field col s10 offset-s1'>
      <input id="first-name" type="text" class="validate no-margin" name='firstName'>
      <label for="first-name">{{translations.common.First_name}}</label>
    </div>

    <div class='input-field col s10 offset-s1'>
      <input id="last-name" type="text" class="validate no-margin" name='lastName'>
      <label for="last-name">{{translations.common.Last_name}}</label>
    </div>

    <div class='input-field col s10 offset-s1'>
      <input id="email" type="email" class="validate no-margin" name='email'>
      <label for="email">{{translations.common.Email}}</label>
    </div>

    <div class="input-field col s10 offset-s1">
      <input id="password" type="password" class="validate no-margin" name='password'>
      <label for="password">{{translations.common.Password}}</label>
    </div>

    <div class="input-field col s10 offset-s1">
      <input id='birthday' type="date" class="datepicker datepicker-birthday no-margin" name='birthDate'>
      <label for="birthday">{{translations.common.Birthday}}</label>
    </div>

    <div class='col s10 offset-s1'>
      <p>
        {{translations.common.sign_up_conditions}}
      </p>
    </div>

    <a id='email-signup' class='btn'>{{translations.common.Submit}}</a>

    <div id='not-valid' class='col s10 offset-s1 hide section'>
      <strong>{{translations.common.validation_message}}</strong>
    </div>

  </form>

</div>

<div class='row'>

  <div class='col s10 offset-s1 grey-text'>
    {{translations.common.Already_have_account}} <a href='#' onclick="$('#sign-up-modal').closeModal();$('#log-in-modal').openModal()">{{translations.common.Log_in_here}}</a>
  </div>

</div>
