<div id="sign-up-modal" class="modal center-align">
  <a class='modal-close'><i class="fa fa-times"></i></a>
  <div class="modal-content">
    <h4>{{ translations.common.signup_modal_title }}</h4>

    <ul id='email-signup-collapsible' class="collapsible no-shadow" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><a id='email-signup-trigger' class='btn btn-secondary btn-signup'>Sign up with email</a></div>
        <div class="collapsible-body">

          {% include './email-sign-up.html' %}

        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='col s10 offset-s1 center-align grey-text'>
        <hr class='half-break'> or <hr class='half-break'>
      </div>
    </div>

    <div class='row'>
      <div class='col s10 offset-s1'>
        <a class='btn btn-signup btn-signup--facebook' id='fb-signup'>Sign up with Facebook</a>
      </div>
    </div>

    <div class='row'>
      <div class='col s10 offset-s1 center-align'>
        <meta name="google-signin-client_id" content="1094866362095-7qjnb8eojdpl862qiu6odrpdgrnrqgp5.apps.googleusercontent.com">
        <style>
        .abcRioButton {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          width: 100% !important;
          height: 100% !important;
        }
        </style>
        <a id='google-signup' class='btn btn-signup btn-signup--google relative'>
          Sign up with Google
          <div class='g-signin2' data-onsuccess="googleSignup"></div>
        </a>
      </div>
    </div>

    <div class='row section'>
      <div class='col s10 offset-s1'>
        <p class='small'>
          <a href='/terms' class='grey-text light'>
            {{translations.common.sign_up_conditions}}
          </a>
        </p>
      </div>
    </div>

  </div>

</div>
