<div id="sign-up-modal" class="modal center-align">
  <div class="modal-content">
    <h4>{{ translations.common.signup_modal_title }}</h4>

    <ul class="collapsible no-shadow" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Email</div>
        <div class="collapsible-body">

          {% include './email-sign-up.html' %}

        </div>
      </li>
    </ul>

    <div class='row'>
      <div class='col s10 offset-s1 center-align'>
        {% include './google-sign-up.html' %}
      </div>
    </div>

    {% include './facebook-sign-up.html' %}

  </div>

</div>

</div>
