.admin-block {
  min-height: calc(100vh - 225px);
  margin-bottom: 0;
  &--no-save {
    min-height: calc(100vh - 150px);
  }
}
.payment-method {
  position: relative;
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 1.25rem;
  text-align: left;
  .secondary {
    font-size: 1.1rem;
  }
  .actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    a {
      display: block;
      &:hover {
        color: darken($americano, 10%);
      }
    }
  }
  .type {
    position: absolute;
    font-size: 2.75rem;
    bottom: 10px;
    right: 20px;
    width: 50;
    color: lighten($grey-chateau, 20%);
    border-radius: 3px;
  }
  .default-payment-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $ziggurat;
    border: 2px solid $havelock-blue;
    opacity: .15;
  }
}
.add-payment {
  position: relative;
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 1.25rem;
  text-align: center;
  .add {
    margin: 20px 0 5px 0;
    font-size: 3rem;
  }
  .text {
    color: $americano;
  }
  a.overlay {
    &:hover + .add {
      color: $havelock-blue;
    }
  }
}
a.privacy-btn {
  min-width: 250px;
}
a.admin-save-btn {
  margin: 20px 0 0 0;
}
.chip-container {
  div {
    display: inline-block;
  }
}
