
.ui.steps {
  max-width: 100%;
  margin: 1rem 0em;
  line-height: 1.14285714em;
  padding-bottom: 50px;
  overflow: hidden;
}

/* First Steps */

.ui.steps:first-child {
  margin-top: 0em;
}

/* Last Steps */

.ui.steps:last-child {
  margin-bottom: 0em;
}

/*******************************
           Singular
*******************************/

.ui.steps .step {
  float: left;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(221,221,221,.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(221,221,221,.5);
  box-shadow: 0px 2px 4px 0px rgba(221,221,221,.5);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  cursor: default;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0em 0em;
  padding: 1.14285714em 2em;
  background: #ffffff;
  border-radius: 0em;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  height: 100px;
}

/* Arrow */

.ui.steps .step:after {
  display: none;
  position: absolute;
  z-index: 2;
  content: '';
  top: 50%;
  right: -1px;
  border: medium none;
  background-color: #ffffff;
  width: 1.14285714em;
  height: 1.14285714em;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-width: 0px 1px 1px 0px;
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  -ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

/* First Step */

.ui.steps .step:first-child {
  border-left: 1px solid #ddd;
  padding-left: 2em;
  border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}

/* Last Step */

.ui.steps .step:last-child {
  border-right: 1px solid #ddd;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}

.ui.steps .step:last-child {
  margin-right: 0em;
}

/*******************************
            Content
*******************************/

/* Title */

.ui.steps .step .title {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-weight: bold;
  margin: 6px 0 0 0;
}

/* Icon */

.ui.steps .step > .icon {
  line-height: 1;
  font-size: 2.15rem;
  margin: 0em 1.25rem 0em 0em;
  border: 2px solid lighten($americano, 30%);
  background: lighten($americano, 40%);
  color: darken($americano, 15%);
  text-shadow: 2px 2px 1px darken($ziggurat, 15%);
}

.ui.steps .step.disabed .icon {
  border: 2px solid lighten($americano, 40%);
  background: lighten($americano, 50%);
  color: lighten($americano, 30%);
  text-shadow: 2px 2px 1px lighten($ziggurat, 5%);
}

.ui.steps .step.completed .icon {
  border: 2px solid lighten($forest-green, 25%);
  background: lighten($forest-green, 35%);
  color: lighten($grey-chateau, 36%);
  text-shadow: 2px 2px 1px darken($ziggurat, 35%);
}

.ui.steps .step.active.completed .icon {
  border: 2px solid darken($havelock-blue, 15%);
  background: darken($havelock-blue, 5%);
  color: lighten($grey-chateau, 36%);
  text-shadow: none;
}

/*******************************
            Types
*******************************/

/*--------------
     Ordered
---------------*/

.ui.ordered.steps {
  counter-reset: ordered;
}

.ui.ordered.steps .step:before {
  display: block;
  width: 100%;
  position: static;
  text-align: center;
  content: counters(ordered, ".");
  -webkit-align-self: middle;
  -ms-flex-item-align: middle;
  align-self: middle;
  font-size: 2.5rem;
  line-height: 2.5rem;
  @media #{$medium-and-down} {
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
  }
  counter-increment: ordered;
  font-family: inherit;
  font-weight: bold;
}

/*******************************
             States
*******************************/

/* Link Hover */

.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
  cursor: pointer;
  background: lighten($ziggurat, 21%);
  color: rgba(0, 0, 0, 0.8);
}

/* Link Down */

.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
  background: lighten($ziggurat, 13%);
  color: rgba(0, 0, 0, 0.9);
}

/* Active */

.ui.steps .step.active {
  background: lighten($ziggurat, 17%);
}

.ui.steps .step.active:after {
  background: lighten($ziggurat, 17%);
}

.ui.steps .step.active .title {
  color: darken($havelock-blue, 5%);
}
/* Active Arrow */

.ui.steps .step:after {
  display: block;
}

.ui.steps .active.step:after {
  display: block;
}

.ui.steps .step:last-child:after {
  display: none;
}

.ui.steps .active.step:last-child:after {
  display: none;
}

/* Active Hover */

.ui.steps .link.active.step:hover::after,
.ui.steps .link.active.step:hover,
.ui.steps a.active.step:hover::after,
.ui.steps a.active.step:hover {
  cursor: pointer;
  background: lighten($ziggurat, 13%);
  color: rgba(0, 0, 0, 0.87);
}

/* Completed */

.ui.steps .step.completed > .icon:before,
.ui.ordered.steps .step.completed:before {
  color: darken($sulu, 30%);
}

/* Disabled */

.ui.steps .disabled.step {
  background: #ffffff;
  pointer-events: none;
}

.ui.steps .disabled.step,
.ui.steps .disabled.step .title,
.ui.steps .disabled.step .description {
  color: rgba(40, 40, 40, 0.3);
}

.ui.steps .disabled.step:after {
  background: #ffffff;
}


// Mobile and tablet styling
@media #{$medium-and-down} {
  .ui.steps .step, .ui.steps .step.active {
    height: 50px;
    &:before {
      font-size: 1rem;
    }
    &:after {
      display: none;
    }
  }
  .ui.steps .step .title {
    display: none;
  }
}
@media #{$small-and-down} {
  .ui.steps {
    height: 100px;
  }
  .ui.steps .step, .ui.steps .step.active {
    height: 50px;
    width: 25%;
    &:nth-child(1) {
      border-radius: 3px 0 0 0;
    }
    &:nth-child(4) {
      border-radius: 0 3px 0 0;
    }
    &:nth-child(5) {
      border-radius: 0 0 0 3px;
      border-left: 1px solid #ddd;
    }
    &:nth-child(8) {
      border-radius: 0 0 3px 0;
    }
    &:nth-child(n+5) {
      border-top: none;
    }
  }
  .ui.steps .step .title {
    display: none;
  }
}
