{% extends "layout.html" %}

{% block title %} {{ translations.search.title }} {% endblock %}

{% block content %}

<div class='row left-align'>
  <div class='col s12 m7 l7 no-padding-sides'>
    <nav class='light row'>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" autofocus>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <h5>Price</h5>
      </div>
      <div id='price-slider' class='col s10 valign'></div>
    </div>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <h5>Dates</h5>
      </div>
      <div class='col s5 valign'>
        Arrival
      </div>
      <div class='col s5 valign'>
        Departure
      </div>
    </div>
    <div class='row'>
      <div class='col s2'>
        <h5>Language</h5>
      </div>
      <div class='col s10'>
        <input placeholder="What language?" id="language" type="text" class="validate border-radius-left" value='English'>
      </div>
    </div>
    <div class='row valign-wrapper'>
      <div class='col s3'>
        <h5>Immersion</h5>
      </div>
      <div class='col s3 valign'>
          <input type="checkbox" id="stay" />
          <label for="stay">Stay</label>
      </div>
      <div class='col s3 valign'>
        <input type="checkbox" id="tandem" />
        <label for="tandem">Tandem</label>
      </div>
      <div class='col s3 valign'>
        <input type="checkbox" id="teacher" />
        <label for="teacher">Teacher</label>
      </div>
    </div>
    <div class='row'>
      <ul class="collapsible no-shadow" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">More filters</div>
          <div class="collapsible-body">
            <div class='row'>
              Neighborhood
            </div>
            <div class='row'>
              Ammenities
            </div>
            <div class='row'>
              Meal plans
            </div>
            <div class='row'>
              Other
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class='col s12 m5 l5 no-padding' style='height:100vh;'>

      <div id="map" style='width: 100%; height: 100%;position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);'></div>

    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap"
    async defer></script>
  </div>
</div>

<h1>{{ translations.search.description }}</h1>

<div id="content-search"></div>

<script src="/search-bundle.js"></script>

{% endblock %}
