{% extends "layout.html" %} {% block title %} {{user.firstName}}'s {{ translations.users.title }} {% endblock %} {% block content %}

<div class='user-profile-info'>
  <div class='container row left-align'>

    <div class='user-image'>
      {% if user.photo %}
        <img src='{{ constants.domains.IMG }}{{user.photo}}'>
      {% else %}
        <img src='{{ constants.domains.IMG }}/users/default.jpg'>
      {% endif %}
    </div>

    <div class='info'>
      <div class='col s12 center-on-small'>
        <h1>{{user.firstName}}</h1>

        {% if user.ratingCount %}
          <span class='rating'>
            <span class='count'>
              ({{user.ratingCount}})
            </span>
            <span class='stars'>
              {{user.ratingHTML | safe}}
            </span>
          </span>
        {% endif %}

      </div>

      <div class='col s10 quick-facts'>

        <p class='home-details'>
          <span class='icon'><i class="fa fa-venus-mars grey-text text-lighten-1"></span></i>{{user.age}}{% if user.gender %}, {{translations.users.genders[user.gender]}}{% endif %}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-clock-o grey-text text-lighten-1"></span></i>{{translations.common.Joined}} {{translations.months.short[user.joinedMonth]}} {{user.joinedYear}}
        </p>
        {% if user.homeCountry %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>{% if user.homeCity %}{{user.homeCity}}, {%endif%} {{user.homeCountry}}
          </p>
        {% endif %}
        {% if user.occupation %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-briefcase grey-text text-lighten-1"></span></i>{{user.occupation}}
          </p>
        {% endif %}
        {% if user.isEmailVerified %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-check-circle grey-text text-lighten-1"></span></i>{{user.isEmailVerified}}
          </p>
        {% endif %}
        {% if user.referenceCount %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-quote-right grey-text text-lighten-1"></span></i>{{user.referenceCount}} {{translations.common.references}}
          </p>
        {% endif %}
        {% if user.education %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-graduation-cap grey-text text-lighten-1"></span></i>{{user.education}}
          </p>
        {% endif %}
        {% if user.isHost %}
          <p class='home-details'>
            <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></span></i>{{user.isHost}}
          </p>
        {% endif %}

      </div>

      {% if user.host %}
        <div class='col s12 margin-top-20'>
          <a class='modal-trigger' href='#send-message-modal'>Send message</a>
          {% include "../partials/modals/3_message/send-message-modal.html" %}
        </div>
      {% endif %}

    </div>

    <div class='row no-margin-bottom'>
      <div class='col s12'>
        <ul class="tabs user-profile-tabs">
          <li class="tab col s3"><a href="#about" class='active'>{{translations.common.About}}</a></li>

          <li class="tab col s3"><a href="#reviews"><span class='hide-on-small-and-down'>{{translations.common.References}} & </span>{{translations.common.reviews}}</a></li>

          {% if user.home.isActive == true %}
            <li class="tab col s3"><a href="#stay">{{translations.common.Stay}}</a></li>
          {% endif %}

        </ul>
      </div>
    </div>

  </div>
</div>

<div id='about' class='container'>

  <div class='row left-align no-margin-bottom'>
    <div class='col s12 m12 l12'>
      <div class='row'>

        <div class='col s12 m4 l3'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-globe fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.Languages}}</span>
              </div>
            </div>
            <div class='row content'>
              {% if user.languagesLearning.length > 0 %}
                <div class='col s12 m6 l12'>
                  <p class='no-margin-bottom'>
                    <strong>{{translations.common.Learning}}:</strong>
                  </p>
                  {% for language in user.languagesLearning %}
                    <div class='chip chip--learning'>
                      {{translations.languages[language.language]}}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              <div class='col s12 m6 l12'>
                <p class='no-margin-bottom'>
                  <strong>{{translations.common.Speaks}}:</strong>
                </p>
                {% for language in user.languagesKnown %}
                  <div class='chip chip--speaks'>
                      {{translations.languages[language.language]}}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m8 l5'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-user fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.About_me}}</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>
                <p>
                  {% if user.aboutMe %}
                    {{user.aboutMe}}
                  {% else %}
                    {{translations.users.no_about_me}}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m12 l4'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-file-text-o fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.Details}}</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>
                {% if not user.education and not user.grewUp and not user.favouriteBooks and not user.favouriteFilms and not user.amazingFeat and not user.canShare and not user.interests.length > 0 and not user.hasVisited and not user.hasLived %}
                  <p>
                    {{translations.users.no_details}}
                  </p>
                {% endif %}
                {% if user.education %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-graduation-cap grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Education}}:</strong> {{user.education}}
                  </p>
                {% endif %}
                {% if user.grewUp %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-building-o grey-text text-lighten-1"></i></span>
                    <strong>Grew up:</strong> {{user.grewUp}}
                  </p>
                {% endif %}
                {% if user.favouriteBooks %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-book grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Favourite_book}}:</strong> {{user.favouriteBooks}}
                  </p>
                {% endif %}
                {% if user.favouriteFilms %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-film grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Favourite_film}}:</strong> {{user.favouriteFilms}}
                  </p>
                {% endif %}
                {% if user.amazingFeat %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-bolt grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Amazing_feat}}:</strong> {{user.amazingFeat}}
                  </p>
                {% endif %}
                {% if user.canShare %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-share-square-o grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Can_share}}:</strong> {{user.canShare}}
                  </p>
                {% endif %}
                {% if user.interests.length > 0 %}
                  <p class='home-details'>
                    <span class='icon'><i class="fa fa-star grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Interests}}:</strong> {% for interest in user.interests %}{{translations.users.interests[interest]}}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                  </p>
                {% endif %}
                {% if user.hasVisited %}
                  <p class='home-details home-details--multi-line'>
                    <span class='icon'><i class="fa fa-plane grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Visited}}:</strong> {% for country in user.hasVisited %}{{translations.countries[country]}}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                  </p>
                {% endif %}
                {% if user.hasLived %}
                  <p class='home-details home-details--multi-line'>
                    <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></i></span>
                    <strong>{{translations.common.Lived_in}}:</strong> {% for country in user.hasLived %}{{translations.countries[country]}}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div id='reviews' class='container'>
  <div class='row left-align'>
    <div class='col s12 m12 l12'>
      <div class='row'>

        <div class='col s12 m5 l4'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-quote-right fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.References}}</span>
              </div>
            </div>
            <div class='row no-margin'>
              <div class='col s12 content'>

                {% if user.references %}
                  {% for reference in user.references %}
                    <div class='card home-card review'>
                      <div class='row'>
                        <div class='col s12 grey-text relationship'>
                          {{reference.name}} ({{reference.relationship}})
                        </div>
                        <div class='col s12'>
                          <p>
                            {{reference.content}}
                          </p>
                        </div>
                        <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                          {{reference.date}}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p>
                    {{user.firstName}} {{translations.common.doesnt_have_any_references_yet}}
                  </p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m7 l8'>
          <div class='card home-card'>
            <div class='row bottom-align-row'>
              <div class='col s7 m8 l8'>
                <i class="fa fa-star-o fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.Reviews}}</span>
              </div>
              <div class='col s5 m4 l4 bottom right-align'>
                {% if user.ratingCount %}
                <span class='rating'>
                  <span class='count'>
                    ({{user.ratingCount}})
                  </span>
                  <span class='stars'>
                    {{user.ratingHTML | safe}}
                  </span>
                </span>
                {% endif %}
              </div>
            </div>
            <div class='row no-margin'>
              <div class='col s12 content'>

                {% if user.reviews %}
                  {% for review in user.reviews %}
                    <div class='card home-card review'>
                      <div class='row'>
                        <div class='col s3 m2 l2 center-align'>
                          <img class='circle host-picture' src='{{review.picture}}'>
                          <br>
                          {{review.name}}
                        </div>
                        <div class='col s9 m10 l10'>
                          <p>
                            {{review.content}}
                          </p>
                        </div>
                        <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                          {{review.date}}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                <p>
                  {{user.firstName}} {{translations.common.doesnt_have_any_reviews_yet}}
                </p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% if user.home.isActive == true %}
  <div id='stay' class='container left-align'>

    <div class='row no-margin'>

      <div class='col s12 m3 l3'>
        <div class='card home-card home-card--fixed-height-short'>
          <div class='row'>
            <div class='col s12'>
              <i class="fa fa-home fa-2x grey-text text-lighten-1"></i>
              <span class='title'>{{translations.common.Home_info}}</span>
            </div>
          </div>

          <div class='row content bottom-align-column'>
            <div class='col s12'>
              <p class='home-details'>
                <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></span></i>{{translations.homes.home_types[user.home.basics.homeType]}}
              </p>
              {% if user.homeCity %}
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>{{user.homeCity}}{% if user.homeCountry %}, {{translations.countries[user.homeCountry]}}{% endif %}
                </p>
              {% endif %}
              {% if user.home.family == true %}
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>{{translations.family_label}}
                </p>
              {% endif %}
              <div class='divider'></div>
            </div>
            <div class='col s12 bottom center-align'>
              <a class='btn btn-secondary' href='/homes/{{user.home.id}}'>{{translations.common.View_home}}</a>
            </div>
          </div>

        </div>
      </div>

      <div class='col s12 m9 l9'>
        {% for room in user.home.rooms %}
        <div class='card home-card'>
          <div class='row'>

            <div class='col s12'>
              <i class="fa fa-bed fa-2x grey-text text-lighten-1"></i>
              <span class='title'>{{room.name}}</span>
            </div>
          </div>
          <div class='row'>
            <div class='col s12 m4 l5 center-align'>
              <p>

              </p>
              {% if room.img %}
                <img class='home-room-image materialboxed' src='{{constants.domains.IMG}}{{room.img}}' />
                {% else %}
                <i class="fa fa-home room-image-placeholder"></i>
              {% endif %}
            </div>
            <div class='col s6 m6 l2'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Basics}}:</strong>
              </p>
              <p class='home-details'>
                <span class='icon'><i class="fa fa-user grey-text text-lighten-1"></span></i>{{translations.common.Sleeps}}: {{room.vacancies}}
              </p>
              <p class='home-details'>
                <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>{{translations.common.Shared}}: {{translations.rooms.shared[room.shared]}}
              </p>
              <p class='home-details'>
                <span class='icon'><i class="fa fa-bed grey-text text-lighten-1"></span></i>{{translations.common.Bed_type}}: {{translations.rooms.bed_types[room.bed]}}
              </p>
            </div>
            <div class='col s6 m6 l2'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Facilities}}:</strong>
              </p>
              {% for facility in room.facilities %}
                <p class='home-details'>
                  <span class='icon'><i class="fa {{ constants.icons.facilities[facility] }} grey-text text-lighten-1"></span></i>{{translations.rooms.facilities[facility]}}
                </p>
              {% endfor %}
            </div>
            <div class='col s6 m12 l3'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Price}}:</strong>
              </p>

              {% if user.home.immersions.stay %}
              <p class='home-details capitalise'>
                {{translations.common.Stay}}: {{constants.currencies[user.home.pricing.currency]}}{{ room.price }}/{{translations.common.week}}
              </p>
              {% endif %}

              {% if user.home.immersions.tandem %}
              <p class='home-details capitalise'>
                {{ translations.common.Tandem }}: {{constants.currencies[user.home.pricing.currency]}}{{ room.price * (100 - user.home.immersions.tandem.languagesInterested[0].discount)/100 }}/{{translations.common.week}}
              </p>
              {% endif %}

              {% if user.home.immersions.teacher %}
              <p class='home-details capitalise'>
                {{ translations.common.Teacher }}: {{constants.currencies[user.home.pricing.currency]}}{{ room.price + (user.home.immersions.teacher.hourly * user.home.immersions.teacher.packages[0]) }}/{{translations.common.week}}
              </p>
              {% endif %}
            </div>
          </div>

          <div class='row section'>
            <div class='col s12'>
              <div class='divider'></div>
            </div>
          </div>

          <div class='row bottom-align-row'>
            <div class='col s8'>
              <label>{{translations.common.Room_description}}</label><br>

                {% if room.description %}
                  {{room.description}}
                  {% else %}
                  {{translations.rooms.no_description}}
                {% endif %}

            </div>
            <div class='col s4 right-align bottom'>
              <a class='btn btn-primary btn-book' href="/homes/94/booking?arrival=2016-04-01&departure=2016-04-08&room_id=207">{{translations.common.Book_now}}</a>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endif %}

{% endblock %}
