{% extends "layout.html" %} {% block content %}

<div class='user-profile-info'>
  <div class='container row left-align'>

    <div class='user-image'>
      <img src='{{user.photo}}'>
    </div>

    <div class='info'>
      <div class='col s12'>
        <h1>{{user.firstName}}</h1>

        <span class='rating'>
          <span class='count'>
            ({{user.ratingCount}})
          </span>
          <span class='stars'>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </span>

      </div>

      <div class='col s10 quick-facts'>

        <p class='home-details'>
          <span class='icon'><i class="fa fa-venus-mars grey-text text-lighten-1"></span></i>{{user.age}}, {{translations.common.male}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-clock-o grey-text text-lighten-1"></span></i>{{translations.common.Joined}} {{user.joinedMonth}} {{user.joinedYear}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>{{user.homeCity}}, {{user.homeCountry}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-briefcase grey-text text-lighten-1"></span></i>{{user.occupation}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-check-circle grey-text text-lighten-1"></span></i>{{user.isVerified}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-quote-right grey-text text-lighten-1"></span></i>{{user.referenceCount}} {{translations.common.references}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-graduation-cap grey-text text-lighten-1"></span></i>{{user.education}}
        </p>
        <p class='home-details'>
          <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></span></i>{{user.isHost}}
        </p>

      </div>

    </div>


    <div class='row no-margin-bottom'>
      <div class='col s12'>
        <ul class="tabs user-profile-tabs">
          <li class="tab col s3"><a href="#about" class='active'>{{translations.common.About}}</a></li>
          <li class="tab col s3"><a href="#reviews"><span class='hide-on-small-and-down'>{{translations.common.References}} & </span>{{translations.common.reviews}}</a></li>
          <li class="tab col s3"><a href="#stay">{{translations.common.Stay}}</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<div id='about' class='container'>

  <div class='row left-align no-margin-bottom'>
    <div class='col s12 m12 l12'>
      <div class='row'>

        <div class='col s12 m4 l3'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-globe fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.Languages}}</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12 m6 l12'>
                <p class='no-margin-bottom'>
                  <strong>{{translations.common.Learning}}:</strong>
                </p>
                {% for language in user.languagesLearning %}
                  <div class='chip chip--learning'>
                    {{language}}
                  </div>
                {% endfor %}
              </div>
              <div class='col s12 m6 l12'>
                <p class='no-margin-bottom'>
                  <strong>Speaks:</strong>
                </p>
                {% for language in user.languagesSpeaks %}
                  <div class='chip chip--speaks'>
                    {{language}}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m8 l5'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-user fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.About_me}}</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>
                <p>
                  {{user.aboutMe}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m12 l4'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-file-text-o fa-2x grey-text text-lighten-1"></i>
                <span class='title'>{{translations.common.Details}}</span>
              </div>
            </div>
            <div class='row content'>
              <div class='col s12'>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-graduation-cap grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Education}}:</strong> {{user.education}}
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-building-o grey-text text-lighten-1"></i></span>
                  <strong>Grew up:</strong> {{user.grewUpCity}}, {{user.grewUpCountry}}
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-book grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Favourite_book}}:</strong> {{user.favouriteBook}}
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-film grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Favourite_film}}:</strong> {{user.favouriteFilm}}
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-bolt grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Amazing_feat}}:</strong> {{user.amazingFeat}}
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-share-square-o grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Can_share}}:</strong> Baking bread, fishing
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-star grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Interests}}:</strong> Sports, music, cooking
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-plane grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Visited}}:</strong> Spain, Ireland, Italy
                </p>
                <p class='home-details'>
                  <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></i></span>
                  <strong>{{translations.common.Lived_in}}:</strong> UK, China
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div id='reviews' class='container'>
  <div class='row left-align'>
    <div class='col s12 m12 l12'>
      <div class='row'>

        <div class='col s12 m5 l4'>
          <div class='card home-card'>
            <div class='row'>
              <div class='col s12'>
                <i class="fa fa-quote-right fa-2x grey-text text-lighten-1"></i>
                <span class='title'>References</span>
              </div>
            </div>
            <div class='row no-margin'>
              <div class='col s12 content'>
                <div class='card home-card review'>
                  <div class='row'>
                    <div class='col s12 grey-text relationship'>
                      Isaac (Colleague)
                    </div>
                    <div class='col s12'>
                      <p>
                        Lorem ipsum dolor sit amet, te est quidam audiam. Rebum vocibus vix ne, elaboraret reprimique in vel. Mea ferri falli graeco ei, ei wisi sanctus vis. Eu duo malis iudico appareat.
                      </p>
                    </div>
                    <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                      05/01/2016
                    </div>
                  </div>
                </div>
                <div class='card home-card review'>
                  <div class='row'>
                    <div class='col s12 grey-text relationship'>
                      Luis (Student)
                    </div>
                    <div class='col s12'>
                      <p>
                        Lorem ipsum dolor sit amet, te est quidam audiam. Rebum vocibus vix ne, elaboraret reprimique in vel. Mea ferri falli graeco ei, ei wisi sanctus vis. Eu duo malis iudico appareat.
                      </p>
                    </div>
                    <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                      05/01/2016
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='col s12 m7 l8'>
          <div class='card home-card'>
            <div class='row bottom-align-row'>
              <div class='col s7 m8 l8'>
                <i class="fa fa-star-o fa-2x grey-text text-lighten-1"></i>
                <span class='title'>Reviews</span>
              </div>
              <div class='col s5 m4 l4 bottom right-align'>
                <span class='rating'>
                  <span class='count'>
                    (22)
                  </span>
                  <span class='stars'>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class='row no-margin'>
              <div class='col s12 content'>
                <div class='card home-card review'>
                  <div class='row'>
                    <div class='col s3 m2 l2 center-align'>
                      <img class='circle host-picture' src='https://www.wystc.org/wp-content/uploads/sites/2/2014/08/Cl%C3%A9ment-Marcelet.png'>
                      <br>
                      Isaac
                    </div>
                    <div class='col s9 m10 l10'>
                      <p>
                        Lorem ipsum dolor sit amet, te est quidam audiam. Rebum vocibus vix ne, elaboraret reprimique in vel. Mea ferri falli graeco ei, ei wisi sanctus vis. Eu duo malis iudico appareat.
                      </p>
                    </div>
                    <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                      05/01/2016
                    </div>
                  </div>
                </div>
                <div class='card home-card review'>
                  <div class='row'>
                    <div class='col s3 m3 l2 center-align'>
                      <img class='circle host-picture' src='https://www.wystc.org/wp-content/uploads/sites/2/2014/08/Cl%C3%A9ment-Marcelet.png'>
                      <br>
                      Isaac
                    </div>
                    <div class='col s9 m10 l10'>
                      <p>
                        Lorem ipsum dolor sit amet, te est quidam audiam. Rebum vocibus vix ne, elaboraret reprimique in vel. Mea ferri falli graeco ei, ei wisi sanctus vis. Eu duo malis iudico appareat.
                      </p>
                      <p>
                        Enim adolescens ea pri, quo veniam labore alienum ut. Alienum disputationi vix at, vis dictas corpora te, has audire sententiae id. Per ad animal timeam latine, est augue mucius ridens ex. Ei utroque accumsan est, vix et minim dicunt commune. Has ei quod dico nullam.
                      </p>
                    </div>
                    <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                      05/01/2016
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='stay' class='container left-align'>
  <div class='row no-margin'>

    <div class='col s12 m3 l3'>
      <div class='card home-card home-card--fixed-height-short'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-home fa-2x grey-text text-lighten-1"></i>
            <span class='title'>Home info</span>
          </div>
        </div>

        <div class='row content bottom-align-column'>
          <div class='col s12'>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-home grey-text text-lighten-1"></span></i>Cabin
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>Berlin, Germany
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>Family home
            </p>
            <div class='divider'></div>
          </div>
          <div class='col s12 bottom center-align'>
            <a class='btn btn-secondary '>View home</a>
          </div>
        </div>

      </div>
    </div>

    <div class='col s12 m9 l9'>
      <div class='card home-card'>
        <div class='row'>

          <div class='col s12'>
            <i class="fa fa-bed fa-2x grey-text text-lighten-1"></i>
            <span class='title'>Master bedroom</span>
          </div>
        </div>
        <div class='row'>
          <div class='col s12 m4 l5'>
            <p>

            </p>
            <img class='home-room-image materialboxed' src='http://images2.roomstogo.com/is/image/roomstogo/br_rm_gardenia_white_nostack~Gardenia-White-5-Pc-Queen-Platform-Bedroom.jpeg?$PDP_Primary_525x366$' />
          </div>
          <div class='col s6 m6 l2'>
            <p class='grey-text text-darken-1'>
              <strong>Basics:</strong>
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-user grey-text text-lighten-1"></span></i>Sleeps: 1
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>Shared: No
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-bed grey-text text-lighten-1"></span></i>Bed type: 1
            </p>
          </div>
          <div class='col s6 m6 l2'>
            <p class='grey-text text-darken-1'>
              <strong>Facilities:</strong>
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-fire grey-text text-lighten-1"></span></i>Heating
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-square-o grey-text text-lighten-1"></span></i>Mirror
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-lock grey-text text-lighten-1"></span></i>Lock
            </p>
          </div>
          <div class='col s6 m12 l3'>
            <p class='grey-text text-darken-1'>
              <strong>Price:</strong>
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-user grey-text text-lighten-1"></span></i>Stay: <span class='right'>€110/week</span>
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>Tandem: <span class='right'>€90/week</span>
            </p>
            <p class='home-details'>
            <span class='icon'><i class="fa fa-university grey-text text-lighten-1"></span></i>Teacher: <span class='right'>€200/week</span>
            </p>

          </div>
        </div>

        <div class='row section'>
          <div class='col s12'>
            <div class='divider'></div>
          </div>
        </div>

        <div class='row bottom-align-row'>
          <div class='col s8'>
            <label>Room description</label><br>

              Comfort, Bright , space, comfort room in a two bedroom apartment. One block from 1 train and 20 mins from plaza de Cataluña. Full access to kitchen and bathroom.

          </div>
          <div class='col s4 right-align bottom'>
            <a class='btn btn-primary'>Book now</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>



{% endblock %}
