{% extends "layout.html" %} {% block content %}

<h1>Your reservations <i class="fa fa-home trips-icon"></i></h1>
<h5 class='grey-text'>Who are you hosting next?</h5>

<div class='row margin-top-50'>
  <div class='col s12'>
    <ul class="collapsible popout" data-collapsible="accordion">

      {% include "./sections/reservation.html" %}
      {% include "./sections/reservation--approved.html" %}
      {% include "./sections/reservation--declined.html" %}
      {% include "./sections/reservation--cancelled.html" %}

    </ul>
  </div>
</div>

{% endblock %}
