{% extends "layout.html" %} {% block content %}

<h1>Your reservations <i class="fa fa-home trips-icon"></i></h1>
<h5 class='grey-text'>See who you're hosting next</h5>

<div class='row margin-top-50'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <ul class="collapsible popout" data-collapsible="accordion">

      {% include "./sections/reservation.html" %}
      {% include "./sections/reservation.html" %}
      {% include "./sections/reservation.html" %}

    </ul>
  </div>
</div>

{% endblock %}
