{% extends "layout.html" %} {% block content %}

<h1 data-id='{{query.booking_id}}'>Customer receipt</h1>

<div id='receipt-container'></div>

<div class='container'>
  <div class='row left-align'>

    <div class='col s12 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th class='status'>Confirmation code</th>
            <th>Guest name</th>
            <th>Travel destination</th>
            <th>Languages</th>
            <th>Duration</th>
            <th>Immersion type</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'></td>
            <td id='guestFullName'></td>
            <td id='destinationShort'></td>
            <td id='languages'>
              <div>
                <span>Host taught:</span><span id='host-taught'></span>
              </div>
              <div>
                <span>Guest taught:</span><span id='guest-taught'></span>
              </div>
            </td>
            <td>
              <span id='duration'></span> <span>day(s)</span>
            </td>
            <td id='immersion-type'></td>
          </tr>
        </tbody>

        <thead class='second'>
          <tr>
            <th class='status'></th>
            <th>Host name</th>
            <th>Immersion address</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Cancellation</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'>&nbsp;</td>
            <td id='hostFullName'></td>
            <td id='destination'></td>
            <td id='arrivalDate'></td>
            <td id='departureDate'></td>
            <td id='cancellation'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

  <div class='row left-align'>
    <h5 class='grey-text'>Immersion charges</h5>
    <div class='col s12 m12 l5 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th>Charge</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody class='white lighten-4'>
          <tr>
            <td>Base charges</td>
            <td id='bookingCharges'></td>
          </tr>
          <tr>
            <td>Service fee and VAT</td>
            <td id='serviceAndVatFees'></td>
          </tr>
          <tr>
            <td>Total</td>
            <td id='total-charge'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>

{% endblock %}
