.inbox {
  float: left;
  position: relative;
  height: calc(100vh - 50px);
  margin-bottom: -20px;
}
ul.message-list {
  z-index: 10;
  a {
    display: block;
    text-align: left;
  }
  height: auto;
  @media #{$small-and-down} {
    width: 100vw;
    max-height: 200px;
  }
  display: inline-block;
  position: relative;
  float: left;
  width: 240px;
  @media #{$medium-and-up} {
    height: 100%;
  }
  margin: 0;
  background-color: $sidenav-bg-color;
  overflow-y: auto;
  box-shadow: 2px 0 6px 0 rgba(0,0,0,0.12),2px 0 10px 0 rgba(0,0,0,0.12);
  li {
    float: none;
    padding: 0 $sidenav-padding-right;
    &:hover,
    &.active {
      background-color: #ddd;
    }
  }
  a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 $sidenav-padding-right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.message-body {
  display: none;
  &.active {
    display: inline-block;;
  }
  position: relative;
  float: left;
  text-align: left;
  height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: scroll;
  @media #{$medium-and-up} {
    width: calc(100vw - 260px);
  }
  padding: 20px 20px 0 20px;
  .msg {
    padding: 0 0 20px 0;
    position: relative;
    @extend .row;
    .user {
      float: left;
      width: 80px;
      img {
        @extend .z-depth-1;
        overflow: hidden;
        width: 60px;
        height: 60px;
      }
      &--you {
        img {
          border: 3px solid $havelock-blue;
        }
      }
      &--them {
        img {
          border: 3px solid $grey-chateau;
        }
      }
    }
    .contents {
      position: relative;
      float: left;
      max-width: calc(100% - 80px);
      border-radius: 3px;
      background: white;
      padding: 10px;
      border: 1px solid #ddd;
      .timestamp {
        margin-top: 10px;
        text-align: right;
        @extend .grey-text;
        opacity: .6;
      }
    }
    &--received {
      text-align: left;
      .contents {
        &:after,
        &:before {
          right: 100%;
          top: 20px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #fff;
          border-width: 10px;
          margin-top: -10px;
        }
        &:before {
          border-color: rgba(221, 221, 221, 0);
          border-right-color: #ddd;
          border-width: 11px;
          margin-top: -11px;
        }
      }
    }
    &--sent {
      text-align: right;
      .user {
        float: right;
      }
      .contents {
        float: right;
        text-align: left;
        &:after,
        &:before {
          left: 100%;
          top: 20px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-left-color: #fff;
          border-width: 10px;
          margin-top: -10px;
        }
        &:before {
          border-color: rgba(221, 221, 221, 0);
          border-left-color: #ddd;
          border-width: 11px;
          margin-top: -11px;
        }
      }
    }
  }
  a.load-more {
    margin: 0 0 40px 0;
  }
}
.send-message {
  position: fixed;
  width: 100%;
  @media #{$medium-and-up} {
    width: calc(100vw - 260px);
    left: 240px;
  }
  left: 0;
  bottom: 0;
  height: 100px;
  background: white;
  border-top: 1px solid #ddd;
  textarea {
    max-height: 60px;
    overflow: auto;
    float: left;
    margin: 0 30px;
    width: calc(100% - 200px);
  }
  a.btn {
    margin: 25px 30px 20px 0;
  }
}
.intro-msg {
  z-index: 0;
  position: relative;
  color: lighten($americano, 10%);
  text-align: center;
  width: calc(100% + 40px);
  background: lighten($havelock-blue, 32.5%);
  margin: -20px -20px 40px -20px;
  padding: 40px;
  .title {
    font-size: 1.55rem;
    margin: 0 0 5px 0;
  }
}
