{% extends "layout.html" %} {% block content %}

<h1>Your trips <i class="fa fa-plane trips-icon"></i></h1>
<h5 class='grey-text'>See where you're going next</h5>

<div class='row margin-top-50'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <ul class="collapsible popout" data-collapsible="accordion">

      {% include "./sections/trip.html" %}
      {% include "./sections/trip--approved.html" %}
      {% include "./sections/trip--declined.html" %}
      {% include "./sections/trip--cancelled.html" %}


    </ul>
  </div>
</div>

{% endblock %}
