{% extends "layout.html" %} {% block content %}

<h2 class='margin-top-50 margin-bottom-50'>{{translations.common.email_verification_succeeded}} <i class="fa fa-check-circle-o green-text"></i></h2>

<div id='email-verified-successfully' class='large container grey-text text-darken-1'>

  {{debug}}
    <p>
      {{translations.common.email_verified_success_paragraph1 | replace('[profile_link_open]', "<a class='profile-link'>") | replace('[profile_link_close]', "</a>") | replace('[host_link_open]', "<a class='become-a-host'>") | replace('[host_link_close]', "</a>") | safe}}
    </p>

</div>

{% endblock %}
