.ui-autocomplete, .pac-container {
  @extend .z-depth-1;
  background-color: #fff;
  font-size: 1rem;
}
.pac-container {
  width: auto !important;
  max-width: 300px;
  .pac-item {
    width: auto;
    line-height: 1.5rem;
    padding: 1rem;
    &:hover {
      background: #eee;
    }
  }
  span {
    font-size: 1rem;
  }
}
.ui-autocomplete {
  max-width: 180px;
  li {
    width: auto;
    line-height: 1.5rem;
    padding: 1rem;
    &:hover {
      background: #eee;
    }
  }
}
.pac-matched {
  color: $havelock-blue;
}
.pac-icon-marker {
  display: none;
}
.pac-container:after {
  background-image: none !important;
  height: 0px;
}
// Remove unwanted text comming from plugin
.ui-helper-hidden-accessible {
  display: none;
  visibility: hidden;
}
