{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% include "./partials/hero.html" %}

<div class='immersion-options'>
  <h4>Most popular immersion options</h4>
  <span>You may book a language school course during the process</span>

  <div class="stay">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <h3>Stay</h3>
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h5>Stay</h5>
        <p>
          Stay with locals and learn a new language and culture with them. Defined conversation hours a week and optional language academy course.
        </p>
      </div>
    </div>
  </div>

  <div class="tandem">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <h3>Tandem</h3>
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h5>Tandem</h5>
        <p>
          Stay with locals and learn a new language and culture with them, teach them yours and save on the way. Defined conversation hours a week and optional language academy course.
        </p>
      </div>
    </div>
  </div>

  <div class="teacher-stay">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <h3>Teacher's stay</h3>
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h5>Tandem</h5>
        <p>
          The fastest way to improve your language. Stay with a local language teacher and solve all your doubts at home. Defined teaching hours a week and optional language academy course.
        </p>
      </div>
    </div>
  </div>
</div>

<a href='/search' class='btn'>See all hosts</a>

<div class='language-options'>
  <h4>Most popular languages</h4>
  <div class='english'>
    <div class="hover-tile hover-tile-visible">
      <h3>English</h3>
    </div>
  </div>
  <div class='spanish'>
    <div class="hover-tile hover-tile-visible">
      <h3>Spanish</h3>
    </div>
  </div>
  <div class='french'>
    <div class="hover-tile hover-tile-visible">
      <h3>French</h3>
    </div>
  </div>
</div>

<a href='/languages' class='btn'>See all languages</a>

<script src='main-bundle.js'></script>

{% endblock %}
