{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% include "./partials/hero.html" %}

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500 page-section'>
  <div class='overlay overlay--page-bg overlay--light'>

  </div>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Language immersion options</h4>
    <p>
      You may book a language school course during the booking process
    </p>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--stay show-on-hover--parent hide-on-hover--parent'>
    <a class='overlay' href='javascript:void(0)'></a>
    <div class='overlay overlay--colour overlay--blue'></div>
    <h2 class='hide-on-hover'>Stay</h2>
    <div class='show-on-hover'>
      <h4>Stay</h4>
      <div class='divider divider--light'></div>
      <p>
        Stay with locals and learn a new language and culture with them. Defined conversation hours a week and optional language academy course.
      </p>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--tandem show-on-hover--parent hide-on-hover--parent'>
    <a class='overlay' href='javascript:void(0)'></a>
    <div class='overlay overlay--colour overlay--blue'></div>
    <h2 class='hide-on-hover'>Tandem</h2>
    <div class='show-on-hover'>
      <h4>Tandem</h4>
      <div class='divider divider--light'></div>
      <p>
        Stay with locals and learn a new language and culture with them, teach them yours and save on the way. Defined conversation hours a week and optional language academy course.
      </p>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--teacher show-on-hover--parent hide-on-hover--parent'>
    <a class='overlay' href='javascript:void(0)'></a>
    <div class='overlay overlay--colour overlay--blue'></div>
    <h2 class='hide-on-hover'>Teacher's stay</h2>
    <div class='show-on-hover'>
      <h4>Teacher's stay</h4>
      <div class='divider divider--light'></div>
      <p>
        The fastest way to improve your language. Stay with a local language teacher and solve all your doubts at home. Defined teaching hours a week and optional language academy course.
      </p>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
    <button class="mdl-button mdl-js-button button--ghost button--grey">
      See all hosts
    </button>
  </div>
</div>

<div class='mdl-grid mdl-cell mdl-cell--12-col mdl-typography--text-center mdl-color-text--grey-500 page-section'>
  <div class='overlay overlay--page-bg overlay--light-two'></div>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>Most popular languages</h4>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--english'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>English</h2>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--spanish'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>Spanish</h2>
  </div>
  <div class='mdl-cell mdl-cell--4-col mdl-shadow--2dp square square--french'>
    <a class='overlay' href='javascript:void(0)'></a>
    <h2>French</h2>
  </div>
  <div class='mdl-cell mdl-cell--12-col'>
    <button class="mdl-button mdl-js-button button--ghost button--grey">
      See all languages
    </button>
  </div>
</div>

<script src='main-bundle.js'></script>

{% endblock %}
