{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block content %}

{% include "./partials/hero.html" %}

<div class='container'>

<div class='row'>
  <div class='col s12'>
    <h4>Most popular immersion options</h4>
    <span class='light'>You may book a language school course during the booking process</span>
  </div>
</div>

<div class='row'>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/stay.jpg">
      </div>
      <div class="card-content">
        <h5 class="activator no-margin">Stay</h5>
        <a href="#"></a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h5>Stay</h5><i class="material-icons right">close</i></span>
        <p class='left-align'>Stay with locals and learn a new language and culture with them. Defined conversation hours a week and optional language academy course.</p>
      </div>
    </div>
  </div>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/tandem.jpg">
      </div>
      <div class="card-content">
        <h5 class="activator no-margin">Tandem</h5>
        <a href="#"></a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h5>Tandem</h5><i class="material-icons right">close</i></span>
        <p class='left-align'>Stay with locals and learn a new language and culture with them, teach them yours and save on the way. Defined conversation hours a week and optional language academy course.</p>
      </div>
    </div>
  </div>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/img/teacher.jpg">
      </div>
      <div class="card-content">
        <h5 class="activator no-margin">Teacher's stay</h5>
        <a href="#"></a>
      </div>
      <div class="card-reveal valign-wrapper">
        <span class="card-title grey-text text-darken-4"><h5>Teacher's stay</h5><i class="material-icons right">close</i></span>
        <p class='left-align'>The fastest way to improve your language. Stay with a local language teacher and solve all your doubts at home. Defined teaching hours a week and optional language academy course.</p>
      </div>
    </div>
  </div>

</div>

<div class='row margin-bottom-50'>
  <a href='/search' class='btn'>See all hosts</a>
</div>

<div class='divider'></div>

<div class='row'>
  <div class='col s12'>
    <h4>Most popular languages</h4>
  </div>
</div>

<div class='row'>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image">
        <img src="/img/english.jpg">
        <span class="absolute-title white-text text-shadow"><h4>English</h4></span>
      </div>
    </div>
  </div>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image">
        <img src="/img/spanish.jpg">
        <span class="absolute-title white-text text-shadow"><h4>Spanish</h34</span>
      </div>
    </div>
  </div>

  <div class='col s12 m4 l4'>
    <div class="card">
      <div class="card-image">
        <img src="/img/french.jpg">
        <span class="absolute-title white-text text-shadow"><h4>French</h4></span>
      </div>
    </div>
  </div>

</div>

<div class='row margin-bottom-50'>
  <a href='/languages' class='btn'>See all languages</a>
</div>

</div>


<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{your-app-id}',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


<script src='/main-bundle.js'></script>

{% endblock %}
