nav {
  a.brand-logo {
    margin-left: 0;
    @media #{$large-and-up} {
      margin-left: 15px;
    }
  }
  span.logo-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    position: relative;
    margin-left: 0;
    img.logo {
      position: absolute;
      top: 2.5px;
      left: 0;
      max-width: 30px;
      max-height: 30px;
    }
  }

}
