nav {
  a.brand-logo {
    @media #{$large-and-up} {
      margin-left: 15px;
    }
  }
  span.logo-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    position: relative;
    margin-left: 0;
    svg.logo {
      position: absolute;
      left: -2px;
      max-width: 30px;
      max-height: 30px;
      path {
        fill: white;
      }
    }
  }
}
.tiny-logo {
  height: 24px;
  width: 24px;
}
