<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l2">

        <select id='language'>
          <option value='english'>
            English
          </option>
          <option value='spanish'>
            Español
          </option>
          <option value='french'>
            Français
          </option>
        </select>

      </div>

      <div class="col s12 m5 offset-m1 l2 offset-l1">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Policies</a></li>
        </ul>
      </div>

      <div class="col s12 m5 l3 offset-l1">
        <h5 class="white-text">More about us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Trust and safety</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Site map</a></li>
        </ul>
      </div>

      <div class="col s12 m5 offset-m1 l2 offset-l1">
        <h5 class="white-text">Host</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Why Abroadwith?</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Responsible homestay</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Immersions</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Home safety</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Abroadwith
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-envelope fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-google-plus fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-pinterest fa-2x"></i></a>
    </div>
  </div>
</footer>
