<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l2">

        <select id='ui-language' class='material'>
          <option value='english'>
            {{translations.languages.eng}}
          </option>
          <option value='spanish'>
            {{translations.languages.spa}}
          </option>
          <option value='french'>
            {{translations.languages.por}}
          </option>
        </select>

      </div>

      <div class="col s12 m5 offset-m1 l2 offset-l1">
        <h5 class="white-text">{{translations.common.company}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Policies</a></li>
        </ul>
      </div>

      <div class="col s12 m5 l3 offset-l1">
        <h5 class="white-text">{{translations.common.more_about_us}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.trust_safety}}</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.site_map}}</a></li>
        </ul>
      </div>

      <div class="col s12 m5 offset-m1 l2 offset-l1">
        <h5 class="white-text">{{translations.common.host}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.why_abroadwith}}?</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.responsible_homestay}}</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.immersions}}</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{{translations.common.home_safety}}</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Abroadwith
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-envelope fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-google-plus fa-2x"></i></a>
      <a href="#" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-pinterest fa-2x"></i></a>
    </div>
  </div>
</footer>
