<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3 l2">

        <div id='ui-currency-and-language-container'></div>

        <select id='ui-language' class='material'>
          {% for domain, language in constants.ui_languages %}
          <option value={{domain}}>{{translations.languages[language.iso]}}</option>
          {% endfor %}
        </select>

        <select id='ui-currency' class='material'>
          {% for currency, symbol in constants.currencies %}
          <option value={{currency}} data-symbol={{symbol}}>{{currency}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col s12 m4 offset-m1 l2 offset-l1">
        <h5 class="white-text">{{translations.common.company}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">{{translations.common.About}}</a></li>
          <li><a class="grey-text text-lighten-3" href="//blog.abroadwith.com">{{translations.common.Blog}}</a></li>
          <li><a class="grey-text text-lighten-3" href="//jobs.abroadwith.com">{{translations.common.Jobs}}</a></li>
          <li><a class="grey-text text-lighten-3" href="//press.abroadwith.com">{{translations.common.Press}}</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacy">{{translations.common.Policies}}</a></li>
        </ul>
      </div>

      <div class="col s12 m4 l2 offset-l1">
        <h5 class="white-text">{{translations.common.footer_host}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/why-abroadwith">{{translations.common.footer_why_abroadwith}}</a></li>
          <li><a class="grey-text text-lighten-3" href="/host">{{translations.common.footer_responsible_homestay}}</a></li>
          <li><a class="grey-text text-lighten-3" href="/popular-languages">{{translations.common.footer_popular}}</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Abroadwith
      <a href="https://www.facebook.com/abroadwith/" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://twitter.com/abroadwith_" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-twitter fa-2x"></i></a>
      <a href="mailto:support@abroadwith.com" class='grey-text text-lighten-4 right margin-half-sides'><i class="fa fa-envelope fa-2x"></i></a>
      <a href="https://plus.google.com/u/0/b/117119459292667125359/117119459292667125359" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-google-plus fa-2x"></i></a>
      <a href="https://www.pinterest.com/abroadwith_/" class='grey-text text-lighten-4 right margin-half-sides hide-on-small-only'><i class="fa fa-pinterest fa-2x"></i></a>
    </div>
  </div>
</footer>
