<div id='navbar-logged-in' class='navbar-fixed' style='display:none'>
  <nav>
    <div class="nav-wrapper">

      <a href="/" class="brand-logo">
        abroadwith
        <span class='logo-container'>
          <img class='logo' src='https://img.abroadwith.com/app/logo/abroadwith_logo_white.svg'>
        </span>
      </a>

      <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-bars" style='margin-left:1rem'></i></a>

      <ul class="right hide-on-med-and-down" style='display:none'>
        <li><a class='become-a-host'>Become a host</a></li>
        <li><a href='/manage-home' class='your-home' style='display:none'>Your home</a></li>
        <li><a href="/inbox"><i class="fa fa-envelope"></i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="nav-dropdown"><span id='navbar-username'></span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile">
        <li><a class='become-a-host'>Become a host</a></li>
        <li><a href='/manage-home' class='your-home' style='display:none'>Your home</a></li>
        <li><a href="/admin">Settings</a></li>
        <li><a href="/search">Search</a></li>
        <li><a class='logout-btn'>Log out</a></li>
      </ul>

    </div>
  </nav>
  <ul id="nav-dropdown" class="dropdown-content">
    <li><a href="/trips">Your trips</a></li>
    <li><a href="/reservations" class='your-home' style='display:none'>Reservations</a></li>
    <li><a href="/admin">Settings</a></li>
    <li><a href="/search">Search</a></li>
    <li class="divider"></li>
    <li><a class='logout-btn'>Log out</a></li>
  </ul>
</div>
