<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title" style='font-weight:600;font-size:1.5rem'>abroadwith</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="">your_username</a>
      <a class="mdl-navigation__link" href=""><i class="fa fa-envelope-o fa-2x"></i></a>
      <a class="mdl-navigation__link" href=""><i class="fa fa-cog fa-2x"></i></a>
    </nav>
  </div>
</header>
