<div class='navbar-fixed'>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">&nbsp;Abroadwith</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-bars" style='margin-left:1rem'></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/help">Help</a></li>
      <li><a href="#log-in-modal" class='modal-trigger'>Log in</a></li>
      <li><a href="#sign-up-modal" class='modal-trigger'>Sign up</a></li>
      <li><a href="#sign-up-modal" class='modal-trigger'>Become a host</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/help">Help</a></li>
      <li><a href="#log-in-modal" class='modal-trigger'>Log in</a></li>
      <li><a href="#sign-up-modal" class='modal-trigger'>Sign up</a></li>
      <li><a href="#sign-up-modal" class='modal-trigger'>Become a host</a></li>
    </ul>
  </div>
</nav>
</div>

{% include "../modals/sign-up-modal.html" %}

{% include "../modals/log-in-modal.html" %}
