<div id='navbar' class='navbar-fixed'>
  <nav>
    <div class="nav-wrapper">

      <a href="/" class="brand-logo">
        abroadwith
        <span class='logo-container'>
          <svg class='logo' version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	width="150.9" height="160.3" viewBox="0 0 150.9 160.3" style="enable-background:new 0 0 150.9 160.3;" xml:space="preserve">
          <style type="text/css">
          	.st0{fill:#FFFFFF;}
          </style>
          <path
               class="st0"
               d="M 125.6,16.800001 C 112.8,6.0000007 96.500001,6.5175778e-7 79.700001,6.5175778e-7 c -19.2,0 -36.7,7.70000004824222 -49.5,20.10000034824222 -2.500001,-5.5 -8.000001,-9.4 -14.400001,-9.4 -8.7,0 -15.8,7.1 -15.8,15.8 0,6.3 3.7000001,11.7 9.0000001,14.2 1.6999999,1 3.4999999,1.7 5.4999999,2 -3.8,8.7 -5.9999999,18.4 -5.9999999,28.5 0,9.9 1.9999999,19.5 5.8999999,28.500002 C 16.1,103.6 19.9,105.9 23.9,105.9 c 1.4,0 2.8,-0.3 4.2,-0.9 5.300001,-2.3 7.700001,-8.399999 5.400001,-13.699999 -2.8,-6.4 -4.200001,-13.2 -4.200001,-20.2 0,-27.8 22.600001,-50.4 50.400001,-50.4 11.9,0 23.399999,4.2 32.399999,11.8 4.4,3.7 11,3.1 14.7,-1.3 3.7,-4.2 3.2,-10.7 -1.2,-14.4 z" />

          <path
               class="st0"
               d="m 146.5,46.500001 c -2,-5.4 -8,-8.2 -13.4,-6.2 -5.4,2 -8.2,8 -6.2,13.4 2.1,5.6 3.1,11.5 3.1,17.5 0,3.6 -0.4,7 -1.1,10.4 -3.1,-3.1 -7.4,-5 -12.1,-5 -9.5,0 -17.099999,7.7 -17.099999,17.1 C 99.700001,101.3 104.7,107.8 111.5,110 c -8.7,7.2 -19.799999,11.5 -31.899999,11.5 -11,0 -21.5,-3.5 -30.3,-10.1 -4.6,-3.5 -11.1,-2.5 -14.6,2.1 -3.5,4.6 -2.5,11.1 2.1,14.6 12.4,9.4 27.2,14.3 42.8,14.3 4.4,0 8.7,-0.4 12.9,-1.2 6.7,5.8 -2.9,17.9 2.1,19.1 C 105.2,154.8 113.7,148.3 120.4,141.3 l 0,0 c 0,0 27.7,-24 29.90001,-61.999999 0.3,-2.7 0.5,-5.4 0.5,-8.1 0.1,-8.5 -1.4,-16.8 -4.30001,-24.7 z" />
          </svg>
        </span>
      </a>
      <a data-activates="mobile" class="button-collapse"><i class="fa fa-bars" style='margin-left:1rem'></i></a>

      <ul class="right hide-on-med-and-down">
        <li class='logged-out'>
          <select class='material ui-language' data-path={{originalUrl}}>
            {% for domain, language in constants.ui_languages %}
            <option value={{domain}}>{{language.name}}</option>
            {% endfor %}
          </select>
        </li>
        <li class='logged-out'><a data-target="choose-languages-modal" class='modal-trigger become-a-host--logged-out'>{{translations.common.navbar_become_host}}</a></li>
        <li class='logged-out'><a data-target="choose-languages-modal" class='modal-trigger sign-up--logged-out'>{{translations.common.navbar_sign_up}}</a></li>
        <li class='logged-out'><a data-target="login-modal" class='modal-trigger'>{{translations.common.navbar_login}}</a></li>
        <li class='logged-in'><a class='become-a-host'>{{translations.common.navbar_become_host}}</a></li>
        <li class='logged-in'><a class='your-home' style='display:none'>{{translations.common.navbar_your_home}}</a></li>
        <li class='logged-in relative messages'><a href="/inbox"><i class="fa fa-envelope"></i><span id='unread-messages' class="unread-messages"></span></a></li>
        <li class='logged-in center-align'><a class="dropdown-button" href="#!" data-activates="nav-dropdown"><span id='navbar-username'></span><i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
      </ul>

      <ul class="side-nav" id="mobile">
        <li class='logged-in'><a href="/trips">{{translations.common.navbar_your_trips}}</a></li>
        <li class='logged-in your-home' style='display:none'><a href="/reservations">{{translations.common.navbar_reservations}}</a></li>
        <li class='logged-out'><a href='/help'>{{translations.common.navbar_help}}</a></li>
        <li class='logged-out'><a data-target="choose-languages-modal" class='modal-trigger become-a-host--logged-out'>{{translations.common.navbar_become_host}}</a></li>
        <li class='logged-out'><a data-target="choose-languages-modal" class='modal-trigger sign-up--logged-out'>{{translations.common.navbar_sign_up}}</a></li>
        <li class='logged-out'><a data-target="login-modal" class='modal-trigger'>{{translations.common.navbar_login}}</a></li>
        <li class='logged-in'><a class='become-a-host'>{{translations.common.navbar_become_host}}</a></li>
        <span class='your-home' style='display:none'><li class='logged-in'><a class='your-home'>{{translations.common.navbar_your_home}}</a></li></span>
        <li class='logged-in'><a class='go-to-your-profile'>{{translations.common.navbar_profile}}</a></li>
        <li class='logged-in'><a href="/admin">{{translations.common.navbar_settings}}</a></li>
        <li class='logged-in'><a href="/search">{{translations.common.navbar_search}}</a></li>
        <li class='logged-in'><a class='logout-btn'>{{translations.common.navbar_logout}}</a></li>
      </ul>

    </div>
  </nav>
  <ul id="nav-dropdown" class="dropdown-content">
    <li><a href="/trips">{{translations.common.navbar_your_trips}}</a></li>
    <li class='your-home' style='display:none'><a href="/reservations">{{translations.common.navbar_reservations}}</a></li>
    <li><a class='go-to-your-profile'>{{translations.common.navbar_profile}}</a></li>
    <li><a href="/admin">{{translations.common.navbar_settings}}</a></li>
    <li><a href="/search">{{translations.common.navbar_search}}</a></li>
    <li class="divider"></li>
    <li><a class='logout-btn'>{{translations.common.navbar_logout}}</a></li>
  </ul>
</div>

{% include "../modals/0_signup/sign-up-modal.html" %}

{% include "../modals/1_login/login-modal.html" %}

{% include "../modals/2_languages/choose-languages-modal.html" %}


{% include "../modals/4_emailconfirmation/confirmation-email-modal.html" %}

{% include "../modals/5_verifications/verifications-modal.html" %}
