<div id='navbar-logged-in' class='navbar-fixed' style='display:none'>
  <nav>
    <div class="nav-wrapper">

      <a href="/" class="brand-logo">&nbsp;Abroadwith</a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-bars" style='margin-left:1rem'></i></a>

      <ul class="right hide-on-med-and-down" style='display:none'>
        <li><a class='become-a-host'>Become a host</a></li>
        <li><a href="/inbox"><i class="fa fa-envelope"></i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><span id='navbar-username'></span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile">
        <li><a class='become-a-host'>Become a host</a></li>
        <li><a href="sass.html">Settings</a></li>
        <li><a href="badges.html">Bookings</a></li>
        <li><a href="collapsible.html">Log out</a></li>
      </ul>

    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Settings</a></li>
    <li><a href="#!">Bookings</a></li>
    <li class="divider"></li>
    <li><a href="#!">Log out</a></li>
  </ul>
</div>
