{% extends "layout.html" %} {% block content %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/css/intlTelInput.css'>

<div id='admin-edit'></div>

<div class="row no-margin-bottom">

  <div class="col s12 no-padding-sides">
    <div class='tabs-container'>
      <div class='tabs-overlay'></div>
      <ul class="tabs">
        <li class="tab"><a class='active' href="#basics">Contact info</a></li>
        <li class="tab"><a href="#languages">Languages</a></li>
        <li class="tab"><a href="#notifications">Notifications</a></li>
        <li id='location-tab' class="tab"><a href="#payments">Payments</a></li>
        <li class="tab"><a href="#privacy-security">Privacy & security</a></li>
        <li class="tab"><a href="#verifications">Verifications</a></li>
      </ul>
    </div>
  </div>

  {% include "./tabs/basics-tab.html" %}
  {% include "./tabs/languages-tab.html" %}
  {% include "./tabs/notifications-tab.html" %}
  {% include "./tabs/payments-tab.html" %}
  {% include "./tabs/privacy-security-tab.html" %}
  {% include "./tabs/verifications-tab.html" %}

</div>



{% endblock %}
