{% extends "layout.html" %}

{% block title %}{{ translations.admin.title }}{% endblock %}

{% block content %}

<div id='admin-edit'></div>

<div class="row no-margin-bottom">

  <div class="col s12 no-padding-sides">
    <div class='button-group-wrapper'>
      <div class='button-group'>
        <ul>
          <li class='active' data-target='#basics'>{{translations.admin.contact_info_tabname}}</li>
          <li data-target='#languages'>{{translations.admin.languages_tabname}}</li>
          <li data-target='#notifications'>{{translations.admin.notifications_tabname}}</li>
          <li data-target='#payments'>{{translations.admin.payments_tabname}}</li>
          <li data-target='#privacy-security'>{{translations.admin.privacy_tabname}}</li>
          <li data-target='#verifications'>{{translations.admin.verifications_tabname}}</li>
        </ul>
      </div>
    </div>
  </div>

  {% include "./tabs/basics-tab.html" %}
  {% include "./tabs/languages-tab.html" %}
  {% include "./tabs/notifications-tab.html" %}
  {% include "./tabs/payments-tab.html" %}
  {% include "./tabs/privacy-security-tab.html" %}
  {% include "./tabs/verifications-tab.html" %}

</div>



{% endblock %}
