{% extends "layout.html" %}

{% block title %}{{ translations.admin.title }}{% endblock %}

{% block content %}

<div id='admin-edit'></div>

<div class="row no-margin-bottom">

  <div class="col s12 no-padding-sides">
    <div class='button-group-wrapper'>
      <div class='button-group'>
        <ul>
          <li class='active' data-target='#basics'>{{translations.admin.contact_info_tabname}}</li>
          <li data-target='#languages'>{{translations.admin.languages_tabname}}</li>
          <li data-target='#notifications'>{{translations.admin.notifications_tabname}}</li>
          <li data-target='#payments'>{{translations.admin.payments_tabname}}</li>
          <li data-target='#privacy-security'>{{translations.admin.privacy_tabname}}</li>
          <li data-target='#verifications'>{{translations.admin.verifications_tabname}}</li>
        </ul>
      </div>
    </div>
  </div>

  {% include "./tabs/basics-tab.html" %}
  {% include "./tabs/languages-tab.html" %}
  {% include "./tabs/notifications-tab.html" %}
  {% include "./tabs/payments-tab.html" %}
  {% include "./tabs/privacy-security-tab.html" %}
  {% include "./tabs/verifications-tab.html" %}

</div>

<div id="user-deletion-failure" class="modal center-align">
  <a class='modal-close'><i class="fa fa-times"></i></a>
  <div class="modal-content">
    <div class='row'>
      <div class='col s12 margin-top-20'>
        <h3>{{translations.admin.user_deletion_failure_title}}</h3>
      </div>
    </div>
    <div class='row'>
      <div class='col s12'>
        <i class="fa fa-ban fa-5x red-text"></i>
      </div>
    </div>
    <div class='row'>
      <div class='col s12 m10 offset-m1 l10 offset-l1 large'>
        <p>{{translations.admin.user_deletion_failure_paragraph1}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
