{% extends "layout.html" %} {% block title %} {{ translations.manage_home.title }} {% endblock %} {% block content %}

<div class="col s12 no-padding-sides">

  <div class='button-group-wrapper'>
    <div class='button-group'>
      <ul>
        <li data-target='#basics'>{{ translations.manage_home.basics_tabname }}</li>
        <li data-target='#immersions'>{{ translations.manage_home.immersions_tabname }}</li>
        <li data-target='#location' id='location-tab-trigger'>{{ translations.manage_home.location_tabname }}</li>
        <li data-target='#description'>{{ translations.manage_home.description_tabname }}</li>
        <li data-target='#rooms'>{{ translations.manage_home.rooms_tabname }}</li>
        <li data-target='#photos'>{{ translations.manage_home.photos_tabname }}</li>
        <li data-target='#pricing'>{{ translations.manage_home.pricing_tabname }}</li>
      </ul>
    </div>
  </div>
</div>

<div class='row manage-home'>
  {% include './tabs/basics-tab.html' %}
  {% include './tabs/immersions-tab.html' %}
  {% include './tabs/location-tab.html' %}
  {% include './tabs/description-tab.html' %}
  {% include './tabs/rooms-tab.html' %}
  {% include './tabs/photos-tab.html' %}
  {% include './tabs/pricing-tab.html' %}
</div>



<div id='published-status' class='manage-home-info-text'></div>

<div id='manage-home-container'></div>


{% endblock %}
