{% extends "layout.html" %} {% block title %} {{ translations.manage_home.title }} {% endblock %} {% block content %}

<div class="col s12 no-padding-sides">

  <div class='button-group-wrapper button-group-wrapper--manage-home'>
    <div class="ui ordered steps">
      <div class="step" id='location'>
        <div class="content">
          <div class="title">{{ translations.manage_home.location_title }}</div>
          <div class="description">{{ translations.manage_home.location_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='basics'>
        <div class="content">
          <div class="title">{{ translations.manage_home.basics_title }}</div>
          <div class="description">{{ translations.manage_home.basics_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='description'>
        <div class="content">
          <div class="title">{{ translations.manage_home.description_title }}</div>
          <div class="description">{{ translations.manage_home.description_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='immersions'>
        <div class="content">
          <div class="title">{{ translations.manage_home.immersions_title }}</div>
          <div class="description">{{ translations.manage_home.immersions_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='rooms'>
        <div class="content">
          <div class="title">{{ translations.manage_home.rooms_title }}</div>
          <div class="description">{{ translations.manage_home.rooms_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='photos'>
        <div class="content">
          <div class="title">{{ translations.manage_home.photos_title }}</div>
          <div class="description">{{ translations.manage_home.photos_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='pricing'>
        <div class="content">
          <div class="title">{{ translations.manage_home.pricing_title }}</div>
          <div class="description">{{ translations.manage_home.pricing_subtitle }}</div>
        </div>
      </div>
      <div class="step" id='success'>
        <div class="content">
          <div class="title">{{translations.manage_home.success_title}}</div>
          <div class="description">{{ translations.manage_home.success_subtitle }}</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class='row manage-home'>
  {% include './tabs/basics-tab.html' %}
  {% include './tabs/immersions-tab.html' %}
  {% include './tabs/location-tab.html' %}
  {% include './tabs/description-tab.html' %}
  {% include './tabs/rooms-tab.html' %}
  {% include './tabs/photos-tab.html' %}
  {% include './tabs/pricing-tab.html' %}
  {% include './tabs/success-tab.html' %}
</div>


<div id='manage-home-container'></div>


{% endblock %}
