{% extends "layout.html" %} {% block title %} {{ translations.search.title }} {% endblock %} {% block content %}

<div class="col s12 no-padding-sides">
  <ul class="tabs">
    <li class="tab"><a class='active' href="#basics" data-next='immersions'>{{ translations.manage_home.basics_tabname }}</a></li>
    <li class="tab"><a href="#immersions" data-next='location'>{{ translations.manage_home.immersions_tabname }}</a></li>
    <li id='location-tab' class="tab"><a href="#location" data-next='description'>Location</a></li>
    <li class="tab"><a href="#description" data-next='rooms'>Description</a></li>
    <li class="tab"><a href="#rooms" data-next='photos'>Rooms</a></li>
    <li class="tab"><a href="#photos" data-next='pricing'>Photos</a></li>
    <li class="tab"><a href="#pricing">Pricing</a></li>
  </ul>
</div>


<div class='row manage-home'>
  {% include './tabs/basics-tab.html' %}
  {% include './tabs/immersions-tab.html' %}
  {% include './tabs/location-tab.html' %}
  {% include './tabs/description-tab.html' %}
  {% include './tabs/rooms-tab.html' %}
  {% include './tabs/photos-tab.html' %}
  {% include './tabs/pricing-tab.html' %}
</div>

<div class='manage-home-info-text manage-home-info-text--unpublished'>
  Your home in Berlin is unpublished
</div>

<div id='manage-home-container'></div>


{% endblock %}
