{% extends "layout.html" %} {% block title %} {{ translations.about.title }} {% endblock %} {% block content %}

<h1>{{translations.about.title}}</h1>

<div class='row'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align'>
    <p class='large grey-text text-darken-1'>
      {{translations.about.introduction_paragraph_1}}
    </p>
    <p class='large grey-text text-darken-1'>
      {{translations.about.introduction_paragraph_2}}
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='row section'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align'>
    <h4>{{translations.about.our_product}}</h4>
    <p class='large grey-text text-darken-1'>
      {{translations.about.our_product_paragraph}}
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='row section'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align'>
    <h5>{{translations.about.we_offer_immersions}}</h5>
    <div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title'>{{translations.common.Stay}}:</span>
            <p class='grey-text text-darken-1'>
              {{translations.about.stay_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title'>{{translations.common.Tandem}}:</span>
            <p class='grey-text text-darken-1'>
              {{translations.about.tandem_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title'>{{translations.common.Teachers_stay}}:</span>
            <p class='grey-text text-darken-1'>
              {{translations.about.teacher_description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='divider'></div>

<div class='row section left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 large'>
    Learn more about <a href='/host'>how to become an Immersion host</a> or get ready to <a href='/popular-languages'>learn a language abroad.</a>
  </div>
</div>

{% endblock %}
