{% extends "layout.html" %}

{% block title %}{{ translations.about.title }}{% endblock %}

{% block meta_description %}{{ translations.about.meta_description }}{% endblock %}

{% block content %}

<div class='row hero hero--fixed-height hero--about card'>
  <div class='col s12 title'>
    <h1>{{translations.about.h1}}</h1>
    <h5>A one stop platform for language and cultural exchange</h5>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>{{translations.about.introduction_paragraph_1}} </p>

    <p>{{translations.about.introduction_paragraph_2}}</p>

    <p>{{translations.about.introduction_paragraph_3}} </p>

    <p>{{translations.about.introduction_paragraph_4}} </p>

    <p>{{translations.about.introduction_paragraph_5}} </p>

    <p>
      <strong class='grey-text text-darken-1'>{{translations.about.our_platform}}:</strong> {{translations.about.our_platform_paragraph}}
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>

  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5 class='margin-bottom-50'>{{translations.about.we_offer_immersions}}</h5>
    <div class='margin-top-20'>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Stay}}:</strong>
            </span>
            <p>
              {{translations.about.stay_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Tandem}}:</strong>
            </span>
            <p>
              {{translations.about.tandem_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Teachers_stay}}:</strong>
            </span>
            <p>
              {{translations.about.teacher_description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='divider'></div>

<div class='row no-margin padding-top-50 padding-bottom-50 secondary-bg margin-bottom-negative-20'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 large'>
    {{translations.about.find_more}} <a href='/host-international-students'>{{translations.about.become_host}}</a> {{translations.common.words.or}} <a href='/popular-languages-destinations'>{{translations.about.learn_language}}.</a>
  </div>
</div>

{% endblock %}
