{% extends "layout.html" %} {% block title %} {{ translations.about.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--about card'>
  <div class='col s12 title'>
    <h1>{{translations.about.title}}</h1>
    <h5>A one stop platform for language and cultural exchange</h5>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>Founded in August 2015 and based in Berlin, Abroadwith is an open community marketplace for people to learn languages immersing in other cultures. </p>

    <p>Living with a traditional Chinese family learning their language and about their culture is without a doubt an exciting and life changing experience. Finding one to host you while living on the opposite side of the world can be hindering. Communication
      is lack there of, especially when you&rsquo;re not yet fluent in the language.</p>

    <p>Spending a summer in the lush green countryside of Ireland with a local family is an ideal way to improve your English. When the commute to the provided language school is 45 minutes away, however, furthering your studies becomes inconvenient. </p>

    <p>It&rsquo;s because of anecdotes like these that Abroadwith came to be. To tremendously improve communication between students and hosts. No matter the distance. No matter the language. </p>

    <p>Abroadwith is the first one-stop platform where language learners can connect with their ideal host, find their preferred language course and book!</p>

    <p>
      <strong class='grey-text text-darken-1'>Our platform:</strong> finding like-minded people and nearby schools. The Abroadwith platform offers three unique immersion programs depending on the student’s individual language learning needs. Through its ease of use and search filters, students and hosts alike can find exactly what they are looking for based on their preferences. This ultimately creates an optimal immersion experience for all. Also, students have the option to book a language course from a nearby language school furthering their language studies and practice.
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>

  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5 class='margin-bottom-50'>{{translations.about.we_offer_immersions}}</h5>
    <div class='margin-top-20'>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Stay}}:</strong>
            </span>
            <p>
              {{translations.about.stay_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Tandem}}:</strong>
            </span>
            <p>
              {{translations.about.tandem_description}}
            </p>
          </div>
        </div>
      </div>
      <div class='col s12 m12 l4'>
        <div class='card section no-padding-top'>
          <div class='card-content'>
            <span class='card-title grey-text'>
              <strong>{{translations.common.Teachers_stay}}:</strong>
            </span>
            <p>
              {{translations.about.teacher_description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='divider'></div>

<div class='row no-margin padding-top-50 padding-bottom-50 secondary-bg margin-bottom-negative-20'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 large'>
    Find out more on <a href='/host'>becoming an Immersion host</a> or <a href='/popular-languages'>learning a language abroad.</a>
  </div>
</div>

{% endblock %}
