{% extends "layout.html" %}

{% block title %}{{ translations.why_abroadwith.title }}{% endblock %}

{% block meta_description %}{{ translations.why_abroadwith.meta_description }}{% endblock %}

{% block content %}

<div class='row hero hero--fixed-height hero--why-abroadwith card'>
  <div class='col s12 title'>
    <h1>{{translations.why_abroadwith.h1}}</h1>
    <h2>{{translations.why_abroadwith.subtitle}}</h2>
  </div>
</div>

<div class='divider'></div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>{{translations.why_abroadwith.paragraph1}}</p>

    <p>{{translations.why_abroadwith.paragraph2}}</p>

    <p>{{translations.why_abroadwith.paragraph3}} </p>

    <p>{{translations.why_abroadwith.paragraph4}} </p>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>
  <h3>{{translations.why_abroadwith.how_we_work}}:</h3>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20'>
    <ul class='bullets grey-text text-darken-1'>
      <li>
        {{translations.why_abroadwith.how_we_work1}}
      </li>
      <li>
        {{translations.why_abroadwith.how_we_work2}}
      </li>
      <li>
        {{translations.why_abroadwith.how_we_work3}}
      </li>
      <li>
        {{translations.why_abroadwith.how_we_work4}}
      </li>
      <li>
        {{translations.why_abroadwith.how_we_work5}}
      </li>
      <li>
        {{translations.why_abroadwith.how_we_work6}}
      </li>
    </ul>
  </div>
  <div class='col s12 margin-top-50'>
    <a href='/search' class='btn btn-secondary btn-flat'>{{translations.why_abroadwith.find_immersion_program}}</a>
  </div>
</div>

<div class='divider'></div>

<div class='row padding-top-50 padding-bottom-50 margin-bottom-negative-20 secondary-bg'>
  <h3>{{translations.why_abroadwith.immersions}}</h3>

  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 grey-text text-darken-1'>
    <p>
      {{translations.why_abroadwith.immersions_paragraph}}
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img alt='{{translations.why_abroadwith.stay_img_alt}}' class="activator" src="https://abroadwith.imgix.net/app/immersions/stay.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>{{translations.common.Stay}}:</strong> {{translations.why_abroadwith.stay_paragraph}}

    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m10 offset-m1 l7 offset-l1 left-align large light'>
    <p>
      <strong>{{translations.common.Tandem}}:</strong> {{translations.why_abroadwith.tandem_paragraph}}
  </div>
  <div class='col s12 m3 l3 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img alt='{{translations.why_abroadwith.tandem_img_alt}}' class="activator" src="https://abroadwith.imgix.net/app/immersions/tandem.jpg">
      </div>
    </div>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img alt='{{translations.why_abroadwith.teacher_img_alt}}' class="activator" src="https://abroadwith.imgix.net/app/immersions/teacher.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>{{translations.common.Teachers_stay}}:</strong> {{translations.why_abroadwith.teacher_paragraph}}
    </p>
  </div>

</div>

{% endblock %}
