{% extends "layout.html" %} {% block title %} {{ translations.host.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--host card'>
  <div class='col s12 title'>
    <h1>{{translations.host.title}}</h1>
    <h5>Supplement your income and with likeminded people</h5>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <h5>Why becoming a language immersion host with Abroadwith?</h5>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>
      If you have been hosting international students at home you already know from first experience how rewarding hospitality and sharing your language and culture with others can be. These are some of the added benefits from becoming a host at Abroadwith:
    </p>
  </div>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 light'>
    <ul class='bullets'>
      <li>
        Find a family/homestay to immerse in the local culture and learn the language in a native environment
      </li>
      <li>
        Learn about the families, hosts and students apartments before booking with them
      </li>
      <li>
        Find immersions with a common lifestyle
      </li>
      <li>
        Find the most convenient location
      </li>
      <li>
        Immersions with better prices than conventional agencies, no intermediates
      </li>
      <li>
        Option to have an immersion without leaving your city
      </li>
    </ul>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>
  <h3>Immersion options</h3>


  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 grey-text text-darken-1'>
    <p>
      Hosts are expected to make students feel at home. All immersion programs include breakfast, and a minimum of 7 hours spent with students to immerse them in the local culture and language.
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/stay.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Stay:</strong> in this traditional homestay program, share your home with foreign language students and make them part of your community. Students live at home like another member of the family or the student apartment taking part in the daily life and activities at home. Immersion hosts should welcome the students at home and encourage them to speak the local language as often as possible.
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m10 offset-m1 l7 offset-l1 left-align large light'>
    <p>
      <strong>Tandem:</strong> what if instead of going abroad to learn a language you could bring that language home?This is the main idea behind tandem, share your home with foreign language students and learn a language with them. In this immersion program students and hosts split the amount of hours learning between each tandem language. Choose what languages are you interested in learning on your home admin and start learning. Both students and hosts are encouraged to take initiative in communicating as much as possible and correct each other to help improve language skills and make the immersion program a success for everyone.
    </p>
  </div>
  <div class='col s12 m3 l3 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/tandem.jpg">
      </div>
    </div>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/teacher.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Teacher's stay:</strong> if you are a qualified teacher, you can start teaching foreign language students at home, offering a Tearcher’s Stay immersion program. Teachers are expected to go beyond welcoming students like a member of the family or apartment. Talking to students frequently and encourage them to speak in the local language is important in every immersion program. Being a teacher stay means to go an extra mile and take responsibility in making a successful language immersion program.
    </p>
    <p>
      In this option Teachers Choose how many hours a week you want to teach students (5, 10 or 15), decide your hourly lesson’s rate and get ready to teach. In order to offer a Teacher stay, Teacher must provide Abroadwith with enough evidence to get certified, different teaching certifications are accepted depending on the taught language.
    </p>
  </div>


</div>

{% endblock %}
