{% extends "layout.html" %} {% block title %} {{ translations.host.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--host card'>
  <div class='col s12 title'>
    <h1>{{translations.host.title}}</h1>
    <h5>Supplement your income and with likeminded people</h5>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <h5>Why become an immersion host with Abroadwith?</h5>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>
      If you have been hosting international students in your home you already know first hand how rewarding it can be to share your language and culture. Considering you were likely connected with your student through an intermediary, you probably never had complete control in the process of choosing who ultimately shows up at your door for their studies abroad You really never knew for sure, if the student would truly be a good fit.
    </p>
    <p>
      On the other hand, with Abroadwith, the decision-making power is yours. You decide it all; from how many and what meals you cook to how much you charge and spend with your student outside of the home. Through our user-friendly platform, you choose exactly who comes to live in your home. Below are just some of the benefits in hosting with Abroadwith:
    </p>
  </div>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 light'>
    <ul class='bullets'>
      <li>
        Choose when it is the best time for you to host, and who to host.
      </li>
      <li>
        Connect with like-minded people.
      </li>
      <li>
        Customise your profile in order to connect with students with similar personal interests.
      </li>
      <li>
        Supplement your income.
      </li>
      <li>
        Charge what you deem fair based on your location, costs of living in your area and services you offer.
      </li>
      <li>
        Share your language and culture.
      </li>
      <li>
        Learn from far away cultures and languages of your interest.
      </li>
      <li>
        Free  registration and use of the Abroadwith platform.
      </li>
      <li>
        Choose from three different immersion programs.
      </li>
    </ul>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>
  <h3>Immersion programs</h3>


  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 grey-text text-darken-1'>
    <p>
      As a host, you are expected to make students feel welcome and at home. All immersion programs include breakfast, and a minimum of seven hours spent with the students to help immerse them in the local culture and language.
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/stay.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Stay:</strong> in this traditional homestay program, share your home with foreign language students, helping them immerse in your local community. Students live in your home as if they were another member of the family or roommate. That said, it will be expected that they take part in the daily home activities. Immersion hosts should encourage the student to speak the local language as often as possible.
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m10 offset-m1 l7 offset-l1 left-align large light'>
    <p>
      <strong>Tandem:</strong> what if instead of going abroad to learn a language you could bring that language into your own home? This is the idea behind tandem: share your home with foreign language students and learn their language in exchange. In this immersion program students and hosts split time between learning both tandem languages. Choose what languages you are interested in learning in your home profile. Both students and hosts are encouraged to take initiative in communicating as much as possible in the dual languages, correcting each other when needed. This will help improve language skills immensely, and make the immersion program a success for both parties.
    </p>
    <p>
      Please keep in mind that if you are offering Stay or Teacher’s Stay immersion programs, Tandem must be the most affordable option.
    </p>
  </div>
  <div class='col s12 m3 l3 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/tandem.jpg">
      </div>
    </div>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/teacher.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Teacher's stay:</strong> if you are a qualified teacher, you can start teaching foreign language students in the comfort of your own home. Beyond just tutoring, teachers are expected to welcome the students as if they were a member of the family or roommate. Conversing with the students often and encouraging them to speak in the local language is important in every immersion program. Being a teacher in this immersion program means you go the extra mile, taking responsibility in making a successful language experience for the student.
    </p>
    <p>
      In this program, as a teacher you choose how many hours a week you want to teach. Decide your hourly rate and prepare your lessons. In order to qualify for this program, teachers must provide Abroadwith with enough evidence of his/her teaching certifications and experience.
    </p>
  </div>


</div>

{% endblock %}
