{% extends "layout.html" %}

{% block title %}{{ translations.popular_languages.title }}{% endblock %}

{% block meta_description %}{{ translations.popular_languages.meta_description }}{% endblock %}

{% block content %}

<div class='row hero hero--fixed-height hero--popular-languages card'>
  <div class='col s12 title'>
    <h1>{{translations.popular_languages.h1}}</h1>
    <h2>{{translations.popular_languages.introduction_paragraph_1}}</h2>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large'>
    <p>
      {{translations.popular_languages.introduction_paragraph_2}}
    </p>
    <p>
      {{translations.popular_languages.introduction_paragraph_3}}
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='container margin-top-50'>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>{{translations.languages.ENG}}</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        {{translations.popular_languages.language_text.ENG}}
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=London'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.london_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_london.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.London}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Bournemouth'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.bournemouth_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_bournemouth.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Bournemouth}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Brighton'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.brighton_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_brighton.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Brighton}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Bristol'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.bristol_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_bristol.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Bristol}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Cambridge'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.cambridge_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_cambridge.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Cambridge}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Eastbourne'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.eastbourne_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_eastbourne.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Eastbourne}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Manchester'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.manchester_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_manchester.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Manchester}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Oxford'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.oxford_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_oxford.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Oxford}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Vancouver'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.vancouver_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_vancouver.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Vancouver}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=New_York'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.new_york_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_new_york.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.New_York}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=San_Francisco'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.san_francisco_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_san_francisco.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.San_Francisco}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Seattle'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.seattle_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_seattle.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Seattle}}</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>{{translations.languages.SPA}}</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        {{translations.popular_languages.language_text.SPA}}
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Barcelona'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.barcelona_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_barcelona.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Barcelona}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Granada'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.granada_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_granada.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Granada}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Madrid'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.madrid_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_madrid.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Madrid}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Salamanca'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.salamanca_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_salamanca.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Salamanca}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Sevilla'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.sevilla_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_sevilla.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Sevilla}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Valencia'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.valencia_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_valencia.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Valencia}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Alicante'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.alicante_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_alicante.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Alicante}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Buenos_Aires'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.buenos_aires_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_buenos_aires.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Buenos_Aires}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Antigua'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.antigua_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_antigua.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Antigua}}</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>{{translations.languages.DEU}}</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        {{translations.popular_languages.language_text.DEU}}
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Berlin'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.berlin_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_berlin.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Berlin}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Hamburg'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.hamburg_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_hamburg.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Hamburg}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Munich'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.munich_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_munich.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Munich}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Heidelberg'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.heidelberg_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_heidelberg.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Heidelberg}}</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search?location_string=Vienna'></a>
        <div class="card-image">
          <img alt='{{translations.popular_languages.vienna_img_alt}}' class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_vienna.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>{{translations.cities.Vienna}}</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}
