{% extends "layout.html" %} {% block title %} {{ translations.popular_languages.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--popular-languages card'>
  <div class='col s12 title'>
    <h1>{{translations.popular_languages.title}}</h1>
    <h5>{{translations.popular_languages.introduction_paragraph_1}}</h5>
  </div>
</div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large'>
    <p>
      People learn languages due to diverse reasons. We believe that one shouldn’t need a big reason to learn a language, the personal growth and new perspectives added by the process of learning a new language and immersing in a new culture are already overpowering.
      Most importantly we think immersing in a new culture should be exciting and enjoyable. Whether you are learning a language to enjoy a rich culture, for business, for traveling or just for fun, immersing with locals is the most effective way to
      do it.
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='container margin-top-50'>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>English</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        There are 3 times more people speaking English fluently than native English speakers. Only in China there are more people studying English than native English speakers in the world. English influence in today’s media, business and science is yet undisputed.
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_london.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>London</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_bournemouth.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Bournemouth</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_brighton.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Brighton</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_bristol.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Bristol</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_cambridge.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Cambridge</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_eastbourne.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Eastbourne</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_manchester.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Manchester</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_oxford.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Oxford</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_vancouver.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Vancouver</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_new_york.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>New York</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_san_francisco.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>San Francisco</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/en/study_english_in_seattle.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Seattle</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>Spanish</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        Spanish is the European language with the highest number of native speakers, official in 21 countries with diverse cultures and a exciting history. It is also a global language and part of the UN official working languages.
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_barcelona.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Barcelona</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_granada.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Granada</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_madrid.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Madrid</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_salamanca.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Salamanca</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_sevilla.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Sevilla</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_valencia.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Valencia</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_alicante.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Alicante</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_buenos_aires.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Buenos Aires</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/es/study_spanish_in_antigua.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Antigua</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class='row manage-home-section margin-bottom-50'>
    <h2 class='grey-text'>German</h2>
    <div class='container left-align margin-bottom-50'>

      <p class='large light'>
        German is the most spoken language in the European Union and a very influential language in trade, science and European politics.
      </p>

    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_berlin.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Berlin</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_hamburg.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Hamburg</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_munich.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Munich</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_heidelberg.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Heidelberg</h5>
          </span>
        </div>
      </div>
    </div>

    <div class='col s12 m4 l3'>
      <div class='card'>
        <a class='overlay' href='/search'></a>
        <div class="card-image">
          <img class="activator" src="https://img.abroadwith.com/static/cities/de/study_german_in_vienna.jpg">
          <span class="absolute-title white-text text-shadow--heavy">
            <h5>Vienna</h5>
          </span>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}
