{% extends "layout.html" %} {% block title %} {{ translations.privacy.title }} {% endblock %} {% block content %}

<h1>{{translations.privacy.title}}</h1>

<div class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <div>
      <a href='#1'>1. Non-legally binding guidelines</a>
    </div>
    <div>
      <a href='#2'>2. Privacy policy</a>
    </div>
    <div>
      <a href='#3'>3. Subject matter of data protection</a>
    </div>
    <div>
      <a href='#4'>4. Collection and use of data</a>
    </div>
    <div>
      <a href='#5'>5. User data</a>
    </div>
    <div>
      <a href='#6'>6. Cookies</a>
    </div>
    <div>
      <a href='#7'>7. Phishing</a>
    </div>
    <div>
      <a href='#8'>8. Information sharing and disclosure</h5></a>
    </div>
    <div>
      <a href='#9'>9. Service providers</h5></a>
    </div>
    <div>
      <a href='#10'>10. Compliance with laws and law enforcement</a>
    </div>
    <div>
      <a href='#11'>11. Changing or deleting your information</a>
    </div>
    <div>
      <a href='#12'>12. Security/a>
    </div>
    <div>
      <a href='#13'>13. Links to other sites</a>
    </div>
    <div>
      <a href='#14'>14. Policy toward children</a>
    </div>
    <div>
      <a href='#15'>15. International transfer</a>
    </div>
    <div>
      <a href='#16'>16. Business transfer</a>
    </div>
    <div>
      <a href='#17'>17. Online dispute resolution</a>
    </div>
    <div>
      <a href='#18'>18. Contact</a>
    </div>
  </div>
</div>

<div id='1' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>1. Non-legally binding guidelines</h5>
  </div>
</div>

<div id='2' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>2. Privacy policy</h5>
  </div>
</div>

<div id='3' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>3. Subject matter of data protection</h5>
  </div>
</div>

<div id='4' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>4. Collection and use of data</h5>
  </div>
</div>

<div id='5' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>5. User data</h5>
  </div>
</div>

<div id='6' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>6. Cookies</h5>
  </div>
</div>

<div id='7' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>7. Phishing</h5>
  </div>
</div>

<div id='8' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>8. Information sharing and disclosure</h5>
  </div>
</div>

<div id='9' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>9. Service providers</h5>
  </div>
</div>

<div id='10' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>10. Compliance with laws and law enforcement</h5>
  </div>
</div>

<div id='11' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>11. Changing or deleting your information</h5>
  </div>
</div>

<div id='12' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>12. Security</h5>
  </div>
</div>

<div id='13' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>13. Links to other sites</h5>
  </div>
</div>

<div id='14' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>14. Policy toward children</h5>
  </div>
</div>

<div id='15' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>15. International transfer</h5>
  </div>
</div>

<div id='16' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>16. Business transfer</h5>
  </div>
</div>

<div id='17' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>17. Online dispute resolution</h5>
  </div>
</div>

<div id='18' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>18. Contact</h5>
  </div>
</div>

{% endblock %}
