{% extends "layout.html" %} {% block title %} {{ translations.reset_password.title }} {% endblock %} {% block content %}

<h1>Reset password</h1>

<div class='container'>
  <div class='row'>
    <form class='inert reset-password-request'>
      <div class='col s12 m6 offset-m3 l4 offset-l4 manage-home-section'>
        <div class='row section no-margin-bottom'>
          <div class='col s12 m10 offset-m1 l10 offset-l1'>
            <div class="input-field">
              <input type="email" class="validate" required>
              <input type='submit' class='hide submit'>
              <label for="email" class='left'>Email</label>
            </div>
          </div>
        </div>
        <div class='row section'>
          <div class='col s12'>
            <a class='btn btn-primary btn-flat reset-password-request'>Reset password</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class='row'>
    <h5 class='large green-text reset-password-request-successful' style='display:none'>Your request has been processed. Please check your email for further details.</h5>
  </div>
</div>

{% endblock %}
