{% extends "layout.html" %} {% block content %}

<h1 data-secret={{query.id}}>Reset password</h1>

<div class='container'>
  <div class='row'>
    <form class='inert reset-password'>
      <div class='col s12 m6 offset-m3 l4 offset-l4 manage-home-section'>
        <div class='row section no-margin-bottom'>
          <div class='col s12 m10 offset-m1 l10 offset-l1'>
            <div class="input-field">
              <input name='email' type="email" class="validate" required>
              <label class='left inert'>Email</label>
            </div>
          </div>
          <div class='col s12 m10 offset-m1 l10 offset-l1'>
            <div class="input-field">
              <input type="password" name='first-password' class="validate" required>
              <label class='left inert'>New password</label>
            </div>
          </div>
          <div class='col s12 m10 offset-m1 l10 offset-l1'>
            <div class="input-field">
              <input type="password" name='second-password' class="validate" required>
              <input type='submit' class='hide submit'>
              <label class='left inert'>Please enter password again</label>
            </div>
          </div>
        </div>
        <div class='row section'>
          <div class='col s12'>
            <a class='btn btn-primary btn-flat reset-password'>Reset password</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class='row validation-messages'>
    <h5 class='large red-text passwords-dont-match' style='display:none'>Passwords don't match</h5>
    <h5 class='large red-text password-not-valid' style='display:none'>{{translations.common.password_validation_message}}</h5>
  </div>
</div>

{% endblock %}
