{% extends "layout.html" %} {% block content %}

<h1>Terms and conditions</h1>

<div class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <p>
      These terms of use and service include all important information regarding legal rights, obligations and resources. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. If you disagree with any part of the terms then you may not access the Service.
    </p>
  </div>
</div>

<div class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <a href='#1'><h5>1. Our service</h5></a>
    <a href='#2'><h5>2. Binding agreement</h5></a>
    <a href='#3'><h5>3. Use of abroadwith.com</h5></a>
    <a href='#4'><h5>4. Abroadwith's rights</h5></a>
    <a href='#5'><h5>5. Rights and obligations for Immersion hosts</h5></a>
    <a href='#6'><h5>6. Rights and obligations for Educators</h5></a>
    <a href='#7'><h5>7. Rights and obligations for students</h5></a>
    <a href='#8'><h5>8. Payment terms</h5></a>
    <a href='#9'><h5>9. Payout terms</h5></a>
    <a href='#10'><h5>10. Cancellation</h5></a>
    <a href='#11'><h5>11. Home rules and arbitration</h5></a>
    <a href='#12'><h5>12. Taxes</h5></a>
    <a href='#13'><h5>13. Limited liability</h5></a>
    <a href='#14'><h5>14. Intellectual property</h5></a>
    <a href='#15'><h5>15. Privacy policy</h5></a>
    <a href='#16'><h5>16. Transfer of rights and obligations</h5></a>
    <a href='#17'><h5>17. Notice and take down</h5></a>
    <a href='#18'><h5>18. Concluding remarks</h5></a>
    <a href='#19'><h5>19. Jurisdiction</h5></a>
  </div>
</div>

<div id='1' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>1. Our service</h5>
  </div>
</div>

<div id='2' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>2. Binding agreement</h5>
  </div>
</div>

<div id='3' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>3. Use of abroadwith.com</h5>
  </div>
</div>

<div id='4' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>4. Abroadwith's rights</h5>
  </div>
</div>

<div id='5' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>5. Rights and obligations for Immersion hosts</h5>
  </div>
</div>

<div id='6' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>6. Rights and obligations for Educators</h5>
  </div>
</div>

<div id='7' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>7. Rights and obligations for students</h5>
  </div>
</div>

<div id='8' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>8. Payment terms</h5>
  </div>
</div>

<div id='9' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>9. Payout terms</h5>
  </div>
</div>

<div id='10' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>10. Cancellation</h5>
  </div>
</div>

<div id='11' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>11. Home rules and arbitration</h5>
  </div>
</div>

<div id='12' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>12. Taxes</h5>
  </div>
</div>

<div id='13' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>13. Limited liability</h5>
  </div>
</div>

<div id='14' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>14. Intellectual property</h5>
  </div>
</div>

<div id='15' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>15. Privacy policy</h5>
  </div>
</div>

<div id='16' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>16. Transfer of rights and obligations</h5>
  </div>
</div>

<div id='17' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>17. Notice and take down</h5>
  </div>
</div>

<div id='18' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>18. Concluding remarks</h5>
  </div>
</div>

<div id='19' class='row left-align'>
  <div class='col s12 m10 offset-m1 l10 offset-l1'>
    <h5>19. Jurisdiction</h5>
  </div>
</div>

{% endblock %}
