{% extends "layout.html" %} {% block title %} {{ translations.why_abroadwith.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--why-abroadwith card'>
  <div class='col s12 title'>
    <h1>{{translations.why_abroadwith.title}}</h1>
    <h5>Immersions with better prices than conventional agencies</h5>
  </div>
</div>

<div class='divider'></div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>
      Students going abroad to learn languages often find a complicated and slow process with little say on where to stay, finding offering for languages out of the mainstream languages or a more authentic experience in smaller towns or cities offering a different or more traditional lifestyle. At abroadwith we want to change this and move control and decision making goes in the process from intermediates directly to immersion hosts and students. We want language students from around the world to connect with likeminded people with similar personal interests, lifestyle and passion for languages.
    </p>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>
  <h4 class='grey-text text-darken-1'>Benefits of using Abroadwith:</h4>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20'>
    <ul class='bullets light'>
      <li>
        Find a family/homestay to immerse in the local culture and learn the language in a native environment
      </li>
      <li>
        Learn about the families, hosts and students apartments before booking with them
      </li>
      <li>
        Find immersions with a common lifestyle
      </li>
      <li>
        Find the most convenient location
      </li>
      <li>
        Immersions with better prices than conventional agencies, no intermediates
      </li>
      <li>
        Option to have an immersion without leaving your city
      </li>
    </ul>
  </div>
</div>

{% endblock %}
