{% extends "layout.html" %} {% block title %} {{ translations.why_abroadwith.title }} {% endblock %} {% block content %}

<div class='row hero hero--fixed-height hero--why-abroadwith card'>
  <div class='col s12 title'>
    <h1>{{translations.why_abroadwith.title}}</h1>
    <h5>Immersions with better prices than conventional agencies</h5>
  </div>
</div>

<div class='divider'></div>

<div class='row padding-top-50 padding-bottom-50 no-margin secondary-bg'>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large light'>
    <p>Students looking to study abroad to learn a language usually find it a complicated, stressful and often slow process. More often than not, they have little say on their accommodation. </p>

    <p>This is due to the fact that most study abroad agencies only offer programs in big cities. Now we&rsquo;re not saying that living in the bustling metropolis of Barcelona would be a bore; however, it lacks in the authenticity that one might find in
      the outskirts, &mdash; for instance, an hour outside Granada. With Abroadwith, the student chooses to live exactly where he or she desires. Perhaps it is the fast-paced city life, or maybe it&rsquo;s off the beaten path in a small farm town where
      time slows down. Whatever it may be, Abroadwith provides matching for all options dependent on lifestyle preferences.</p>

    <p>And when it comes to languages offered, we bring you the option to immerse in 170 languages. With Abroadwith, the options really are limitless. </p>

    <p>Our intention at Abroadwith is to simplify the entire process by giving immersion hosts and students complete control in finding each other. We believe that language students and hosts alike from around the world should be able to connect with like-minded
      people with similar interests, lifestyles and, of course, a passion for languages.</p>
  </div>
</div>

<div class='divider'></div>

<div class='row margin-top-50 margin-bottom-50'>
  <h3>How we work:</h3>
  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20'>
    <ul class='bullets grey-text text-darken-1'>
      <li>
        Pick your desired language
      </li>
      <li>
        Select a destination
      </li>
      <li>
        Choose from three distinct immersion programs
      </li>
      <li>
        Find immersion hosts with a common lifestyle
      </li>
      <li>
        Learn everything about your accommodation arrangements and hosts before you book
      </li>
      <li>
        Best price, as there are no third party fees
      </li>
    </ul>
  </div>
</div>

<div class='divider'></div>

<div class='row padding-top-50 padding-bottom-50 margin-bottom-negative-20 secondary-bg'>
  <h3>Immersion options</h3>

  <div class='col s12 m10 offset-m1 l10 offset-l1 left-align large margin-top-20 grey-text text-darken-1'>
    <p>
      The Abroadwith platform offers three unique immersion programs depending on the student’s individual language learning needs. Through its ease of use and search filters, students and hosts alike can find exactly what they are looking for based on their preferences. This ultimately creates an optimal immersion experience for all. Also, students have the option to book a language course from a nearby language school furthering their language studies and practice.
    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/stay.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Stay:</strong> this is your standard family or apartment homestay. The host provides accommodation, breakfast, and a minimum of seven hours per week to better immerse the student in the local culture and language.

    </p>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m10 offset-m1 l7 offset-l1 left-align large light'>
    <p>
      <strong>Tandem:</strong> this is your typical family or apartment homestay with a twist. The twist being that two languages are exchanged in the home. The host provides accommodation, breakfast, and a minimum of seven hours per week divided between both languages to immerse equally in the tandem cultures and languages.
  </div>
  <div class='col s12 m3 l3 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/tandem.jpg">
      </div>
    </div>
  </div>

  <div class='col s12 m10 offset-m1 l10 offset-l1 margin-top-20 margin-bottom-10'>
    <div class='divider'></div>
  </div>

  <div class='col s12 m3 offset-m1 l3 offset-l1 left-align hide-on-med-and-down margin-top-20'>
    <div class="card">
      <div class="card-image">
        <img class="activator" src="https://img.abroadwith.com/app/immersions/teacher.jpg">
      </div>
    </div>
  </div>
  <div class='col s12 m10 offset-m1 l7 left-align large light'>
    <p>
      <strong>Teacher's stay:</strong> this is your typical family or apartment homestay in a certified teacher’s home. The host provides accommodation, breakfast, and a minimum of five hours of language teaching, plus additional daily shared time to better immerse the student in the local culture and language. In order to qualify for this program, the host must provide Abroadwith with enough evidence of his/her teaching certifications and experience.
    </p>
  </div>

</div>

{% endblock %}
