@import 'https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900';


a {
  text-decoration: none;
  cursor: pointer;
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: darken($americano, 10%);
  background: lighten($ziggurat, 20%);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

main {
  text-align: center;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.card {
  .activator {
    cursor: pointer;
  }
  i.right {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .card-content {
    position: relative;
  }
  .card-content .fa-caret-up {
    color: white;
    position: absolute;
    left: calc(50% - 12.5px);
    top: -25px;
  }
  .card-title {
    margin-top: 2rem;
  }
}
label.left {
  left: 0 !important;
}
.container {
  width: 90%;
}
.collapsible {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chip-grey {
  color: white;
  font-size: .95rem;
  background: darken($ziggurat, 15%);
}
strong {
  font-weight: 600;
}
ul.bullets {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: -.75rem;
  li {
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 2rem;

  }
}
.tag {
  color: white;
  width: 80px;
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  opacity: .95;
}
label.dark {
  color: #757575;
}
