<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Document {% endblock %}</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
</head>
<body>

  {% include "partials/navigation/navbar.html" %}

  <main>
    {% block content %} {% endblock %}
  </main>

  {% include "partials/navigation/footer.html" %}

  <!-- <script src="bundle.js"></script> -->
</body>
</html>
