<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Document {% endblock %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://img.abroadwith.com/app/favicon/favicon.png">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  {% include "partials/navigation/navbar.html" %}

  <main>
    {% block content %} {% endblock %}
    {% include "./partials/preloader.html" %}
  </main>

  <script async defer src="/app.js"></script>

</body>
</html>
