<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="description" content="{% block meta_description %} {% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" sizes="32x32" href="https://img.abroadwith.com/app/favicon/favicon.png">
  <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="https://img.abroadwith.com/app/favicon/favicon.svg" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="72x72" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="114x114" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="120x120" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="144x144" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <link rel="apple-touch-icon" sizes="152x152" href="https://img.abroadwith.com/app/favicon/favicon.svg">
  <meta name="application-name" content="Abroadwith">
  <meta name="msapplication-TileImage" content="https://img.abroadwith.com/app/favicon/favicon.svg">
  <meta name="msapplication-TileColor" content="#ffffff">

  <link rel='alternate' href='https://es.abroadwith.com{{baseUrl}}' hreflang="es">
  <link rel='alternate' href='https://de.abroadwith.com{{baseUrl}}' hreflang="de">
  <link rel='alternate' href='https://www.abroadwith.com{{baseUrl}}' hreflang="en">
  <link rel='alternate' href='https://www.abroadwith.com{{baseUrl}}' hreflang="x-default">

  <link rel="stylesheet" href="/css/app.css">
  <noscript id='deferred-styles'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </noscript>

</head>
<body>

  {% include "partials/navigation/navbar.html" %}

  <main>
    {% block content %} {% endblock %}
    {% include 'partials/preloader.html' %}
  </main>

  {% include "partials/navigation/footer.html" %}

  <script async defer src="/app.js"></script>

  {{constants.domains.ANALYTICS | safe}}

</body>
</html>
