.braintree-input {
  position: relative;
  max-height: 3rem;
  iframe {
    max-height: 3rem;
    border-bottom: 1px solid $input-border-color !important;
  }
}
#add-payment-form {
  margin-top: 20px;
  min-height: 180px;

  .title {
    border: 1px solid #ddd;
    color: $havelock-blue;
    border-radius: 3px 3px 0 0;
    font-size: 1.35rem;
    line-height: 55px;
    min-height: 59px;
  }
  .collapsible {
    margin-top: 0;
    border-radius: 0 0 3px 3px;
    border-top: none;
    box-shadow: none;
  }
  .collapsible-header {
    font-size: 1.15rem;
    color: darken($americano, 10%);
    &:hover {
      background: lighten($ziggurat, 20%);
    }
  }
  .btn {
    margin: 20px 0;
  }
  #paypal-container, #card-number {
    margin-top: 20px;
  }
  #braintree-paypal-button {
    display: inline-block !important;
    margin: 0 auto !important;
  }
  #braintree-paypal-loggedin {
    background: lighten($havelock-blue, 37.5%);
  }
}
