<div class="mdl-grid mdl-cell mdl-cell--12-col hero hero--top hero--home">
  <div class="mdl-cell mdl-cell--middle mdl-cell--12-col mdl-color-text--white mdl-typography--text-center text-shadow">

    <h1>Go abroad</h1>

    <h5>Learn a language and discover a new culture as a local</h5>

    <button class="mdl-button mdl-js-button text-shadow">
      How does it work?
    </button>

    <div class='search'>
      <button class="mdl-button mdl-js-button">
        What language do you want to learn?
      </button>
      <button class="mdl-button mdl-js-button">
        Where?
      </button>
      <button class="mdl-button mdl-js-button">
        Arrival
      </button>
      <button class="mdl-button mdl-js-button">
        Check out
      </button>
      <button class="mdl-button mdl-js-button">
        1 guest
      </button>
      <button class="mdl-button mdl-js-button">
        Submit
      </button>
    </div>

  </div>
</div>
