<div class="mdl-grid mdl-cell mdl-cell--12-col hero hero--top hero--home">
  <div class="mdl-cell mdl-cell--middle mdl-cell--12-col mdl-color-text--white mdl-typography--text-center text-shadow top">

    <h1>Go abroad</h1>

    <h5>Learn a language and discover a new culture as a local</h5>

    <button class="mdl-button mdl-js-button button--ghost button--white text-shadow">
      How does it work?
    </button>

    <div class='mdl-cell mdl-cell--12-col input-strip'>
      <div>
        <button class="mdl-button mdl-js-button">
          What language do you want to learn?
        </button>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          Where?
        </button>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          Arrival
        </button>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          Check out
        </button>
        <button class="mdl-button mdl-js-button mdl-cell--hide-phone mdl-cell--hide-tablet">
          1 guest
        </button>
        <button class="mdl-button mdl-js-button submit">
          Submit
        </button>
      </div>
    </div>

    <!-- <div class='overlay overlay--black'>

    </div> -->

  </div>
</div>
