nav {
  top: 0;
  position: fixed;
  float: left;
  width: 100%;
  min-height: 50px;
  background: white;
  color: $havelock-blue;
  div {
    margin: 1em;
  }
  .logo {
    float: left;
  }
  .links {
    float: right;
    a {
      color: inherit;
      margin-left: 1em;
    }
  }
}

main {
  margin-top: 50px;
}
@include media($medium-screen) {
  nav {
    position: relative;
  }
  main {
    margin-top: 0;
  }
}
