table .status {
  @media #{$large-and-up} {
    padding-right: 20px;
    background: white;
    border-right: 1px solid #ddd;
  }
}
table.trips-table {
  height: 100%;
  td {
    vertical-align: top;
  }
  td:not(:first-child) {
    @extend .border-bottom;
  }
}
.trips-icon {
  color: lighten($havelock-blue, 15%);
}
ul.trips {
  max-width: 1200px;
  margin: 0 auto;
  li.active:first-child {
    margin: 0 0 40px 0 !important;
  }
  li.active {
    margin: 25px 0 !important;
  }
  .collapsible-header {
    text-align: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    height:8rem;
    line-height: 8rem;
    font-size: 1.35rem;
    padding: 0 2rem 0 12rem;
    &.center-align {
      text-align: center;
      padding: 0 1rem;
    }
    @media #{$small-and-down} {
      font-size: 1.15rem;
      text-align: center;
      padding: 0 1rem;
    }
  }
  img.room-thumbnail {
    @extend .hide-on-small-and-down;
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 10rem;
    max-height: 6rem;
  }
}
.reservation-btn {
  @extend .btn-flat;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  @media #{$large-and-up} {
    width: 100%;
  }
}
.pending-reservation, .approved-reservation, .declined-reservation, .cancelled-reservation {
  @extend .hide-on-small-and-down;
  float: right;
}
.pending-reservation {
  color: $sunset-orange;
}
.approved-reservation {
  color: $havelock-blue;
}
.declined-reservation, .cancelled-reservation {
  color: $grey-chateau;
}
.reservation-profile-icon {
  width: 60px;
  height: 60px;
}
