{% extends "layout.html" %}

{% block title %}{{ translations.receipts_invoices.receipt_title }}{% endblock %}

{% block content %}

<h1 data-id='{{query.booking_id}}'>{{translations.receipts_invoices.immersion_confirmation}}</h1>

<div id='immersion-confirmation-container'></div>

<div class='container'>
  <div class='row left-align'>

    <div class='col s12 white no-padding'>

      <table class='border responsive-table trips-table'>
        <thead>
          <tr>
            <th class='status'>{{translations.receipts_invoices.confirmation_code}}</th>
            <th>{{translations.receipts_invoices.guest_name}}</th>
            <th>{{translations.receipts_invoices.travel_destination}}</th>
            <th>{{translations.receipts_invoices.languages}}</th>
            <th>{{translations.receipts_invoices.duration}}</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'></td>
            <td id='guestFullName'></td>
            <td id='destinationShort'></td>
            <td id='languages'>
              <div>
                <span>{{translations.receipts_invoices.host_taught}}: </span><span id='host-taught'></span>
              </div>
              <div>
                <span>{{translations.receipts_invoices.guest_taught}}: </span><span id='guest-taught'></span>
              </div>
            </td>
            <td>
              <span id='duration'></span> <span>{{translations.receipts_invoices.days}}</span>
            </td>
          </tr>
        </tbody>

        <thead class='second'>
          <tr>
            <th class='status'></th>
            <th>{{translations.receipts_invoices.host_name}}</th>
            <th>{{translations.receipts_invoices.immersion_address}}</th>
            <th>{{translations.receipts_invoices.arrival}}</th>
            <th>{{translations.receipts_invoices.departure}}</th>
          </tr>
        </thead>

        <tbody class='grey lighten-4'>
          <tr>
            <td id='bookingCode' class='status'>&nbsp;</td>
            <td id='hostFullName'></td>
            <td id='destination'></td>
            <td id='arrivalDate'></td>
            <td id='departureDate'></td>
        </tbody>

      </table>

    </div>

  </div>

  <div class='row left-align'>
    <div class='col s12 m12 l5 no-padding'>
      <h5 class='grey-text'>{{translations.receipts_invoices.immersion_charges}}</h5>

      <table class='border responsive-table trips-table white'>
        <thead>
          <tr>
            <th>{{translations.receipts_invoices.charge}}</th>
            <th>{{translations.receipts_invoices.amount}}</th>
          </tr>
        </thead>

        <tbody class='white lighten-4'>
          <tr>
            <td>{{translations.receipts_invoices.base_charges}}</td>
            <td id='bookingCharges'></td>
          </tr>
          <tr>
            <td>{{translations.receipts_invoices.service_fee_and_vat}}</td>
            <td id='serviceAndVatFees'></td>
          </tr>
          <tr>
            <td>{{translations.receipts_invoices.you_earned}}</td>
            <td id='total-charge'></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>

{% endblock %}
