.button {
  color: inherit;
  &--ghost {
    border: 1px solid;
  }
  &--white {
    color: white;
    border-color: white;
  }
  &--grey {
    color: $grey;
    border-color: $grey;
  }
  &--small {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
