{% extends "layout.html" %}

{% block title %}{{ translations.homes.title | replace('{{host}}', home.host.firstName) }}{% endblock %}

{% block meta_description %}{{ translations.homes.meta_description }}{% endblock %}

{% block content %}
<div class='profile-slider'>
  {% if home.photos.length > 0 %}
  <div class="wallop">
    <div class="Wallop-list">
      {% for photo in home.photos %}
      <div class="Wallop-item" style='background-image: url({{constants.domains.IMG}}{{photo}})'></div>
      {% endfor %}
    </div>
    <a class="Wallop-buttonPrevious white-text"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
    <a class="Wallop-buttonNext white-text"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
  </div>
  {% endif %}
  <div class='immersion-types'>
    <div class='tag'>
      {% for immersion_type,immersion in home.immersions %}
        {% if immersion.isActive %}
          <div class='{{ immersion_type }}'>
            {{ immersion_type }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <a id='book-a-room' class='btn btn-primary btn-book'>{{translations.common.Book_a_room}}</a>
</div>

<div class='home-user-image'>
  <a href='/users/{{ home.host.userId }}'>
  {% if home.host.photo %}
      <img src='{{constants.domains.IMG}}{{ home.host.photo }}'>
    {% else %}
      <img src='{{ constants.domains.IMG }}/users/default.jpg'>
  {% endif %}
  </a>
</div>

<div class='home-title row z-depth-1'>
  <div class='row no-margin'>
    <h1 data-home-id='{{home.id}}'>
      {{home.host.firstName}}'s
      {% if home.basics.family %}
        {{translations.common.family_home}}
        {% else %}
        {{translations.common.home}}
      {% endif %}
    </h1>
  </div>

  <div class='home-details'>
    <span class='type'>
      {{translations.homes.home_types[home.basics.homeType]}}
    </span>
    <span class='home-details__divider'><i class="fa fa-chevron-right"></i></span>
    <span class='location'>
      {{home.location.city}}
    </span>
    {% if home.reviewCount %}
      <span class='rating'>
        <span class='count'>
          ({{home.reviewCount}})
        </span>
        <span class='stars'>
          {{home.reviewHTML | safe}}
        </span>
      </span>
    {% endif %}
  </div>
</div>

<div class='container left-align'>

  <label>{{translations.common.Basic_details}}</label>

  <div class='row'>

    <div class='col s12 m6 l3'>
      <div class='card home-card home-card--fixed-height'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-globe fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Languages}}</span>
          </div>
        </div>
        <div class='row content'>

          {% if home.host.languagesLearning.length > 0 %}
          <div class='col s12 m6 l12'>
            <p class='no-margin-bottom'>
              <strong>{{translations.common.Learning}}:</strong>
            </p>
            {% for language in home.host.languagesLearning %}
              <div class='chip chip--learning'>
                {{ translations.languages[language.language] }}
              </div>
            {% endfor %}
          </div>
          {% endif %}

          <div class='col s12 m6 l12'>
            <p class='no-margin-bottom'>
              <strong>{{translations.common.Speaks}}:</strong>
            </p>
            {% for language in home.host.languagesKnown %}
              <div class='chip chip--speaks' data-lang={{language.language}}>
                {{ translations.languages[language.language] }}
              </div>
            {% endfor %}
          </div>

          {% if home.immersions.teacher %}
          <div class='col s12 m6 l12'>
            <p class='no-margin-bottom'>
              <strong>Teaches:</strong>
            </p>
            {% for language in home.immersions.teacher.languagesOffered %}
            <div class='chip chip--teaches'>
              {{ translations.languages[language] }}
              {% if language.certified %}
                <a href="#!" class="secondary-content tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{translations.common.Certified}}"><i class="fa fa-certificate certified-language"></i></a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class='col s12 m6 l6'>
      <div class='card home-card home-card--fixed-height'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-user fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.About}}</span>
          </div>
        </div>
        <div class='row content'>
          <div class='col s12'>
            <p>
              {% if home.description.summary %}
                {{home.description.summary}}
                {% else %}
                {{translations.homes.no_description}}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='col s12 m12 l3'>
      <div class='card home-card home-card--fixed-height'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-envelope fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Details}}</span>
          </div>
        </div>
        <div class='row content bottom-align-column'>
          <div class='col s12'>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-calendar-o grey-text text-lighten-1"></span></i>{{home.host.age}}{% if home.user.gender %}, {{home.user.gender}}{% endif %}
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-clock-o grey-text text-lighten-1"></span></i>{{translations.common.Member_since}} {{ translations.months.short[home.host.joinedDate[1]-1] }}, {{home.host.joinedDate[0]}}
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-map-marker grey-text text-lighten-1"></span></i>{{home.location.city}}, {{translations.countries[home.location.country]}}
            </p>
            {% if home.basics.family %}
            <p class='home-details'>
              <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>{{translations.common.Family_home}}
            </p>
            {% endif %}
            <div class='divider'></div>
          </div>
          <div class='col s12 bottom center-align'>
            <a class='btn btn-secondary modal-trigger' href='#send-message-modal'>{{translations.common.Contact_host}}</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

{% include "../partials/modals/3_message/send-message-modal.html" %}

<div class='home-section-divider'></div>

<div id='book-now' class='container left-align section'>

  <label>{{translations.common.Booking}}</label>

  <div class='row no-margin'>

    <div class='col s12 m3 l3'>
      <div class='card home-card'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-calendar-o fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Booking}}</span>
          </div>
        </div>
        <div class='row'>
          <div class='col s12'>
            <p>
              {{translations.common.choose_your_dates}}:
            </p>
          </div>
        </div>

        <div class='row'>
          <div class='col s12 m12 l6'>
            <div class='input-field '>
              <input id='arrival' type="text" class='datepicker arrival' placeholder='{{translations.common.Arrival}}' {% if query.arrival %} value={{query.arrival}} {% endif %} />
              <label htmlFor='arrival' class='active left'>{{translations.common.Arrival}}</label>
            </div>
          </div>
          <div class='col s12 m12 l6'>
            <div class='input-field '>

              <input id='departure' type="text" class="datepicker departure" placeholder='{{translations.common.Departure}}' {% if query.departure %} value={{query.departure}} {% endif %} />
              <label htmlFor='departure' class='active left'>{{translations.common.Departure}}</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class='col s12 m9 l9'>
      {% for room in home.rooms %}
      <div class='card home-card'>
        <div class='row'>

          <div class='col s12'>
            <i class="fa fa-bed fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{room.name}}</span>
          </div>
        </div>
        <div class='row'>
          <div class='col s12 m4 l5 center-align'>
            <p>

            </p>
            {% if room.img %}
              <img class='home-room-image materialboxed' src='{{constants.domains.IMG}}{{room.img}}' />
              {% else %}
              <i class="fa fa-home room-image-placeholder"></i>
            {% endif %}
          </div>
          <div class='col s6 m6 l2'>
            <p class='grey-text text-darken-1'>
              <strong>{{translations.common.Basics}}:</strong>
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-user grey-text text-lighten-1"></span></i>{{translations.common.Sleeps}}: {{room.vacancies}}
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-users grey-text text-lighten-1"></span></i>{{translations.common.Shared}}: {{translations.rooms.shared[room.shared]}}
            </p>
            <p class='home-details'>
              <span class='icon'><i class="fa fa-bed grey-text text-lighten-1"></span></i>{{translations.common.Bed_type}}: {{translations.rooms.bed_types[room.bed]}}
            </p>
          </div>
          <div class='col s6 m6 l2'>
            <p class='grey-text text-darken-1'>
              <strong>{{translations.common.Facilities}}:</strong>
            </p>
            {% for facility in room.facilities %}
              <p class='home-details'>
                <span class='icon'><i class="fa {{ constants.icons.facilities[facility] }} grey-text text-lighten-1"></span></i>{{translations.rooms.facilities[facility]}}
              </p>
            {% endfor %}
          </div>
          <div class='col s6 m12 l3'>
            <p class='grey-text text-darken-1'>
              <strong>{{translations.common.Price}}:</strong>
            </p>

            {% if home.immersions.stay.isActive %}
            <p class='home-details capitalise'>
              {{translations.common.Stay}}: {{constants.currencies[home.pricing.currency]}}{{ room.price }}/{{translations.common.week}}
            </p>
            {% endif %}

            {% if home.immersions.tandem.isActive %}
            <p class='home-details capitalise'>
              {{ translations.common.Tandem }}: {{constants.currencies[home.pricing.currency]}}{{ room.price * (100 - home.immersions.tandem.languagesInterested[0].discount)/100 }}/{{translations.common.week}}
            </p>
            {% endif %}

            {% if home.immersions.teacher.isActive %}
            <p class='home-details capitalise'>
              {{ translations.common.Teacher }}: {{constants.currencies[home.pricing.currency]}}{{ room.price + (home.immersions.teacher.hourly * home.immersions.teacher.packages[0]) }}/{{translations.common.week}}
            </p>
            {% endif %}
          </div>
        </div>

        <div class='row section'>
          <div class='col s12'>
            <div class='divider'></div>
          </div>
        </div>

        <div class='row bottom-align-row'>

          <div class='col s8'>
            <label>{{translations.common.Room_description}}</label><br>

              {% if room.description %}
                {{room.description}}
                {% else %}
                {{translations.rooms.no_description}}
              {% endif %}

          </div>

          <div class='col s4 right-align bottom'>
            <a class='btn btn-primary btn-book tooltipped go-to-booking' data-position='bottom' data-delay='50' data-tooltip='{{translations.homes.pick_dates_tooltip}}' data-hid={{home.id}} data-rid={{room.id}} {% if home.immersions.stay.id %} data-stay-id={{home.immersions.stay.id}} {% elif home.immersions.tandem.id %} data-stay-id={{home.immersions.tandem.id}} {% elif home.immersions.teacher.id %} data-stay-id={{home.immersions.teacher.id}} {% endif %}>{{translations.common.Book_now}}</a>
          </div>

        </div>

      </div>
      {% endfor %}
    </div>

  </div>

</div>
<div class='home-section-divider'></div>

<div class='container left-align section'>

  <label>{{translations.common.Details_and_reviews}}</label>
  <div class='row no-margin '>

    <div class='col s12 m12 l5'>
      <div class='card home-card home-card--fixed-height-tall'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-home fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Home_info}}</span>
          </div>
        </div>
        <div class='row content'>

          {% if home.basics.AMENITIES.length > 0 %}
            <div class='col s12 m6 l6'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Amenities}}:</strong>
              </p>
                {% for amenity in home.basics.AMENITIES %}
                <p class='home-details'>
                  <span class='icon'><i class="fa {{constants.icons.amenities[amenity]}} grey-text text-lighten-1"></i></span>{{ translations.homes.amenities[amenity] }}
                </p>
                {% endfor %}
            </div>
          {% endif %}

          {% if home.basics.EXTRAS.length > 0 %}
            <div class='col s12 m6 l6'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.homes.extras_label}}:</strong>
              </p>
              {% for extra in home.basics.EXTRAS %}
              <p class='home-details'>
                <span class='icon'><i class="fa {{constants.icons.extras[extra]}} grey-text text-lighten-1"></span></i>{{translations.homes.extras[extra]}}
              </p>
              {% endfor %}
            </div>
          {% endif %}

          {% if home.pricing.extras.length > 0 %}
            <div class='col s12 m6 l6'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Services}}:</strong>
              </p>
              {% for service in home.pricing.extras %}
              <p class='home-details'>
                <span class='icon'><i class="fa {{constants.icons.services[service.service]}} grey-text text-lighten-1"></span></i>{{translations.homes.services[service.service]}}
              </p>
              {% endfor %}
            </div>
          {% endif %}

          {% if home.basics.PREFERENCES.length > 0 %}
            <div class='col s12 m6 l6'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Preferences}}:</strong>
              </p>
              {% for preference in home.basics.PREFERENCES %}
                <p class='home-details'>
                  <span class='icon'><i class="fa {{constants.icons.preferences[preference]}} grey-text text-lighten-1"></span></i>{{ translations.homes.preferences[preference] }}
                </p>
              {% endfor %}
            </div>
          {% endif %}

          {% if home.description.rules %}
            <div class='col s12 m6 l6'>
              <p class='grey-text text-darken-1'>
                <strong>{{translations.common.Rules}}:</strong>
              </p>
              <p>
                {{home.description.rules}}
              </p>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    <div class='col s12 m12 l7'>
      <div class='card home-card home-card--fixed-height-tall'>
        <div class='row bottom-align-row'>
          <div class='col s9'>
            <i class="fa fa-star-o fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Reviews}}</span>
          </div>


          <div class='col s3 bottom right-align'>
            {% if home.reviewCount %}
              <span class='rating'>
                <span class='count'>
                  ({{ home.reviewCount }})
                </span>
                <span class='stars'>
                  {{home.reviewHTML | safe}}
                </span>
              </span>
            {% endif %}
          </div>

        </div>
        <div class='row no-margin'>
          <div class='col s12 content'>

            {% if home.reviews %}
              {% for review in home.reviews %}
                <div class='card home-card review'>
                  <div class='row'>
                    <div class='col s2 center-align'>
                      <img class='circle host-picture' src='{{review.photo}}'>
                      <br>
                      {{review.name}}
                    </div>
                    <div class='col s10'>
                      <p>
                        {{review.content}}
                      </p>
                    </div>
                    <div class='col s12 right-align grey-text text-lighten-1 no-margin'>
                      {{review.date}}
                    </div>
                  </div>
                </div>
              {% endfor %}
              {% else %}
              <p class='grey-text'>
                {{translations.homes.no_reviews}}
              </p>
            {% endif %}

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<div class='home-section-divider'></div>
<div class='container'>

  <div class='row section no-margin-bottom left-align'>

    <div class='col s12'>
      <div class='card home-card'>
        <div class='row'>
          <div class='col s12'>
            <i class="fa fa-map-marker fa-2x grey-text text-lighten-1"></i>
            <span class='title'>{{translations.common.Location}}</span>
          </div>
        </div>
        <div class='row section no-margin-bottom'>
           <div id="map" style='height:300px;width:100%'></div>
          <script>
          var map;
            function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: {% if home.location.lat %}{{home.location.lat}}{% else %}0{% endif %}, lng: {% if home.location.lng %}{{home.location.lng}}{% else %}0{% endif %}},
              zoom: 14,
              options: {
                scrollwheel: false,
                mapTypeControl: false,
                streetViewControl: false
              }
            });
            var circle = new google.maps.Circle({
              map: map,
              radius: 150,    // 10 miles in metres
              strokeColor: '#4A91E2',
              strokeOpacity: 0.8,
              fillColor: '#4A91E2',
              fillOpacity: 0.35,
              center: {
                lat: {% if home.location.lat %}{{home.location.lat}}{% else %}0{% endif %},
                lng: {% if home.location.lng %}{{home.location.lng}}{% else %}0{% endif %}
              }
            });
          }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQW0Z5fmFm8snLhXDOVuD8YuegwCMigqQ&callback=initMap" async defer></script>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}
